@media all and (max-width: 426px) {

    body>header>nav{
        display: none;
    }

    body>header>div{
        height:6vw;
    }
    body>header>div>div{
        margin-top: 2px;
        height:4vw;
    }

    body>header>img{
        top:6vw;
        height: 8vw;
    }

    main>#mainView{
        height: 130vw;
        width: 100%;
    }

    main>#mainView>img:first-child{
        height: 110vw;
        width: 100%;
    }

    main>#mainView>img:nth-child(2){
        width: 40vw;
        height: 55vw;
        position: absolute;
        right: 30vw;
        top: 20vh;

    }

    main>#mainView>section{
        width: 70vw;
        height: 100vw;
        position: relative;
        top: 5vh;
        left: 15vw;
        /*border: 1px solid red;*/
    }

    main>#mainView>section>hgroup>h2:nth-child(2){
        font-size: 16vw;
        top:0;
        left: 20vw;
    }

    main>#mainView>section>hgroup>h4{
        font-size: 6vw;
        top:5vw;
        left: 28vw;
    }

    main>#mainView>section>hgroup>h2:nth-child(4){
        font-size: 5vw;
        top:13vw;
        left: 13vw;
    }

    main>#mainView>section>hgroup>div>h1{
        width: 90vw;
        font-size: 5.7vw;
        top:-20vw;
        left: -5vw;
    }

    main>#mainView>section>hgroup>p{
        width: 58vw;
        font-size: 2.8vw;
        position: absolute;
        top:88vw;
        left: -5vw;
    }

    main>#mainView>section>button:nth-child(2){
        top:104vw;
        left: -5vw;
        height: 4vh;
        width: 15vw;
        border-radius: 6px;
    }

    main>#mainView>section>button:nth-child(2)>a,main>#mainView>section>button:nth-child(3)>a{
        font-size: 2.6vw;
    }

    main>#mainView>section>button:nth-child(3){
        top:104vw;
        left: 15vw;
        height: 4vh;
        width: 24vw;
        border-radius: 6px;
    }

    main>#mainView>section>hgroup>img{
        height: 5vh;
        left: 27vw;
        top: 8vh;
    }

    main>#mainView>section>hgroup>div>img{
        width: 18vw;
        height: 6vh;
        left: -17vw;
        top: 0vw;
    }

    main>#infoView{
        height: 168vh;
        position: relative;
    }

    main>#infoView>section{
        width: 100%;
        height: 80vh;
        margin-top: -5vh;
        position: relative;
    }

    main>#infoView>section>div>h2{
        font-size: 4.5vw;
        margin-left: 12vw;
    }

    main>#infoView>section>div{
        position: absolute;
        top: 7vh;
        width: 60vw;
        font-size:2vw;
        left: 12vw;
    }

    main>#infoView>section>div>ul{
        padding-left: 5vw;
    }
    main>#infoView>section>div>ul>li{
        padding-bottom: 1.5vh;
    }

    main>#infoView>section>div>ul>li>div{
        width: 8vw;
        height: 6vh;
        position: relative;
    }

    main>#infoView>section>div>ul>li>div>img{
        position: absolute;
        width: 65%;
    }

    main>#infoView>section>div>ul>li>h3{
        width: 40vw;
        font-size: 3vw;
        left: 7vw;
    }

    main>#infoView>section:nth-child(2){
        left: 0vw;
        top: -20vh;
    }

    main>#infoView>section:nth-child(3){
        left: 0vw;
        top: 105vh;
    }

    main>#infoView>section>div>img{
        transform: rotate(90deg);
        width: 10vw;
        position: absolute;
        height: 15vh;
        opacity: 0.8;
        top: 23vh;
        display: inline;
    }

    main>#infoView>section:last-child>div>img{
        width: 10vw;
        height: 15vh;
        top: -7vh;
    }

    main>#infoView>section:last-child>div>img:nth-child(3){
        top: 23vh;
        right: 62vw;
    }

    main>#infoView>section:last-child>div>img:nth-child(4){
        top: 23vh;
        left: 46vw;
    }

    main>#infoView>section:first-child>div>img:nth-child(3),main>#infoView>section:nth-child(2)>div>img:nth-child(3){
        top: 23vh;
        right: 62vw;
    }

    main>#infoView>section:first-child>div>img:nth-child(4),main>#infoView>section:nth-child(2)>div>img:nth-child(4){
        top: 23vh;
        left: 46vw;

    }

    main>#aboutView{
        position: relative;
        height: 120vw;
        margin-left: 2vw;
    }

    main>#aboutView>code>pre{
        margin-left: -13vw;
        margin-top: 25vh;
        font-size: 2.5vw;
        display: inline-block;
    }
    main>#aboutView>img{
        position: absolute;
        top: 2vh;
        right: 35vw;
        z-index: -1;
    }

    main>#aboutView>code {
        margin-top: 2vh;
    }

    main>#skillView>section{
        display: block;
        height: 150vh;
        margin-top: 7vh;

    }

    main>#skillView{
        height: 180vh;
    }

    main>#skillView>section>div{
        height: 45vh;
    }

    main>#skillView>h1,main>section:nth-child(9)>h2,main>section:nth-child(11)>h2,main>section:nth-child(13)>h2 {
        font-size: 5vw;
    }

    main>#skillView>section>div>div{
        width: 20vw;
        height: 20vw;
        margin-right: 10vw;

    }

    main>#skillView>section>div>div>img{
        width: 13vw;
    }

    main>#skillView>section>div>h2,main>section:nth-child(7)>div>h2{
        font-size: 4.5vw;
        margin-left: 6vw;
    }

    main>#skillView>section>div>ul{
        margin-left: 3vw;
        font-size: 3vw;
    }

    main>#skillView>section>div:nth-child(4)>ul{
        margin-left: 9vw;
    }

    main>#skillView>section>div:nth-child(3)>ul>li{
        margin-left: 2vw;
    }

    main>#skillView>div{
        position: absolute;
        top: -55vh;
    }
    main>#skillView>div{
        position: relative;
        height: 70vh;
    }

    main>#skillView>div>div>div:nth-child(2){
        width: 25vw;
        height: 5vh;
        margin-top: 0vh;
    }

    main>#skillView>div>div>div:nth-child(3){
        width:35vw;
        height: 6vw;
        margin-top: -5vh;
    }

    main>#skillView>div:last-child>div>div:nth-child(2){
        width: 25vw;
        height: 6vw;
        top: 18vh;

    }

    main>#skillView>div:last-child>div>div:nth-child(3){
        width:40vw;
        height: 6vw;
        margin-top: -2vh;
    }

    main>#skillView>div:last-child>div>div:nth-child(4){
        width: 20vw;
        height: 6vw;
        margin-top: -5vh;
    }

    main>#skillView>div>div>img:last-child{
        height: 15vh;
        position: absolute;
        left: 0;
        right: 0;
        margin: auto;
        bottom: 7vh;
    }


    /*main>#educationView{
        margin-top: 5vh;

    }
    main>#educationView>section>div:first-child{
        width: 35vw;
        height: 0.5vh;
    }


    main>#educationView>section>div:nth-child(2){
        width: 23vw;
        height: 12vh;
    }

    main>#educationView>section>div:nth-child(2)>p{
        font-size: 2.2vw;
    }

    main>#educationView>section:nth-child(2)>img{
        position: absolute;
        width: 22vw;
        bottom: 5vh;
        left: 4vw;

    }

    main>#educationView>section:nth-child(3)>img{
        position: absolute;
        width: 11vw;
        bottom: 28vh;
        left: 20vw;
    }

    main>#educationView>section:nth-child(4)>img{
        position: absolute;
        width: 11vw;
        bottom: 42vh;
        left: 37vw;
    }

    main>#educationView>section:nth-child(5)>img{
        position: absolute;
        width: 30vw;
        bottom: 65vh;
        right: 35vw;
    }

    main>#educationView>section:nth-child(6)>img{
        position: absolute;
        width: 24vw;
        top: 8vh;
        right: 20vw;
    }

    main>#educationView>section:nth-child(5)>div:nth-child(1){
        left: 46vw;
    }

    main>#educationView>section:nth-child(6)>div:nth-child(1){
        left: 61vw;
    }

    main>#educationView>section:nth-child(5)>div:nth-child(2){
        top: 39vh;
        left: 60vw;
    }

    main>#educationView>section:nth-child(6)>div:nth-child(2){
        top: 18vh;
        left: 72vw;
    }
*/
    main>#projectView{
        height: 120vw;
    }

    main>#projectView>div>figure>img{
        width: 25vw;
        height: 45vh;
        position: absolute;
        top: 5vh;
        right: 0;
        left: 0;
        bottom: 0;
        margin: auto;
    }

    main>#projectView>div>figure>figcaption{
        font-size: 2vw;
        position: absolute;
        left: 3vw;
        padding-top: 15px;
    }

    main>#projectView>div:nth-child(2){
        width: 30vw;
        height: 30vw;
        top: 71vw;
        left: 0;
        right: 0;
        margin: auto;
        bottom: unset;
    }

    main>#projectView>div>figure{
        margin-top: -10px;
    }

    main>#projectView>div:nth-child(2)>figure>img{
        top: 5vh;
        width: 28vw;
        height: 20vw;
    }

    main>#projectView>div:nth-child(2)>figure>figcaption{
        position: absolute;
        left: 0;
        right: 0;
        padding-top: 15px;
        font-size: 2vw;
        text-align: center;
    }



    main>#projectView>div:nth-child(3){
        position: absolute;
        width: 25vw;
        height: 25vw;
        top: 73vw;
        left: 68vw;
    }

    main>#projectView>div:nth-child(4){
        position: absolute;
        width: 25vw;
        height: 25vw;
        top: 73vw;
        left: 7vw;
    }

    main>#projectView>div:nth-child(4)>figure>img, main>#projectView>div:nth-child(3)>figure>img{
        width: 23vw;
        height: 15vw;
    }

    main>#projectView>div:nth-child(5){
        top: -80vh;
        width: 25vw;
        height: 25vw;
        display: none;
    }

    main>#projectView>div:nth-child(5)>figure>img,main>#projectView>div:nth-child(6)>figure>img{
        width: 23vw;
        height: 10vw;
    }

    main>#projectView>div:nth-child(6){
        position: absolute;
        top: 30vh;
        right: 10vw;
        width: 35vw;
        height: 35vw;
        display: none;
    }

    main>#projectView>img:nth-child(8){
        position: absolute;
        width: 2vh;
        top: 83vw;
        left: 2vw;
        bottom: unset;
        margin: auto;
    }

    main>#projectView>img:nth-child(9){
        position: absolute;
        width: 2vh;
        top: 83vw;
        right: 2vw;
        bottom: unset;
        margin: auto;
    }

    main>#projectView>div:nth-child(7){
        height: 6vw;
    }

    main>#projectView>div:nth-child(7)>p{
        font-size: 3vw;
        margin-top: 1vh;
    }

    main>#projectView>div:nth-child(7)>a>button{
        height: 5vw;
        width: 20vw;
    }

    main>#projectView>div:nth-child(7)>a{
        font-size: 3vw;
    }

    main>#projectView>video{
        position: absolute;
        width: 80vw;
        top: 8vh;
        left: 0;
        right: 0;
        margin: auto;
        padding-top: 10px;
        border: 4px solid #2B2922;
    }

    main>#achievementView>div:nth-child(2){
        top: -7vh;
    }

    main>#achievementView>img:nth-child(7){
        top:-5vh;
    }

    main>#achievementView>img:nth-child(8){
        top:-5vh;

    }

    main>#achievementView{
        height: 40vh;
        margin-top: 5vh;
    }

    main>#achievementView>div{
        width: 30vw;
        height: 25vw;
    }

    main>#achievementView>div>figure>img{
        width: 28vw;
        height: 23vw;
        position: absolute;
        top: 0;
    }

    main>#achievementView>div:nth-child(2){
        width: 35vw;
        height: 30vw;
        top: 20vw;
        bottom: unset;
    }

    main>#achievementView>div:nth-child(2)>figure>img{
        width: 33vw;
        height: 28vw;
    }


    main>#achievementView>div:nth-child(3){
        top: 13vw;
    }

    main>#achievementView>div:nth-child(4){
        top: 13vw;
    }

    main>#achievementView>div:nth-child(5){
        position: absolute;
        top: 25vw;;
        left: 10vw;
        width: 25vw;
        height: 20vw;
    }

    main>#achievementView>div:nth-child(5)>figure>img{
        width: 23vw;
        height: 18vw;
    }

    main>#achievementView>div:nth-child(6){
        position: absolute;
        top: 25vw;
        left: 65vw;
        width: 25vw;
        height: 20vw;
    }

    main>#achievementView>div:nth-child(6)>figure>img{
        width: 23vw;
        height: 18vw;
    }

    main>#achievementView>img:nth-child(7){
        width: 2vh;
        top:9vw;
    }

    main>#achievementView>img:nth-child(8){
        width: 2vh;
        top:9vw;

    }

    main>#galleryView{
        height: 60vw;
        width: 90vw;

    }
    main>#galleryView>img:first-child{
        width: 20vw;
        top: 2vw;
    }

    main>#galleryView>hgroup>h4{
        top: 16vw;
        font-size: 6vw;
    }

    main>#galleryView>hgroup>h2{
        font-size: 7vw;;
        top: 25vw;
    }

    main>#galleryView>hgroup>blockquote{
        font-size: 2.2vw;
        word-spacing: 2px;
        left: 2vw;
        top: unset;
        bottom: 10vw;
    }

    main>#galleryView>button{
        height: 4vw;
        width: 14vw;
        font-size: 3vw;
        left: 5vw;
        bottom: 5vw;
    }

    main>#artGalleryView{
        height: 60vw;;
        width: 90vw;
    }

    main>#artGalleryView>img:first-child{
        width: 20vw;
        top: 2vw;
    }

    main>#artGalleryView>hgroup>h4{
        top: 16vw;
        font-size: 6vw;
    }

    main>#artGalleryView>hgroup>h2{
        font-size: 7vw;;
        top: 25vw;
    }

    main>#artGalleryView>hgroup>blockquote{
        font-size: 2.2vw;
        word-spacing: 2px;
        left: 2vw;
        top: unset;
        bottom: 9vw;
    }

    main>#artGalleryView>button{
        height: 4vw;
        width: 14vw;
        font-size: 3vw;
        left: 5vw;
        bottom: 5vw;
    }

    main>#graphView{
        height: 30vw;
    }

    main>#graphView>section{
        height: 20vw;
    }

    main>#graphView>section>div{
        width: 26vw;
        height: 16vw;
    }

    main>#graphView>section:first-child>div>h3{
        font-size: 2.5vw;
    }

    main>#graphView>section:first-child>div>button{
        top: 6vh;
        width: 6vw;
        height: 6vw;
    }

    main>#graphView>section:first-child>div>button>img{
        width: 90%;
        position: absolute;
        left: 0;
        right: 0;
        top: 0;
        bottom: 0;
        margin: auto;
    }

    main>#graphView>section:first-child>div>button:nth-child(2){
        left: 6vw;
    }

    main>#graphView>section:first-child>div>button:nth-child(3){
        left: 14vw;
    }

    main>#graphView>section:last-child>div:first-child{
        height: 16vw;
    }

    main>#graphView>section:last-child>div:nth-child(2){
        height: 5vw;
        width: 18vw;
        left: 3vw;
        top: 5vw;
    }

    main>#graphView>section:last-child>div:last-child{
        height: 5vw;
        width: 7vw;
        top: -6vw;
    }

    main>#contactView{
        height: 100vh;
    }

    main>#contactView>h2{
        width: 45vw;
        font-size: 11vw;
        left: 5vw;
    }

    main>#contactView>h3{
        width: 25vw;;
        font-size: 4vw;
        top: 4vh;
        left: -2vw;
    }


    main>#contactView>div:nth-child(3)>p{
        position: absolute;
        width: 70vw;
        font-size: 3.6vw;
        left: 10vw;
        top: -5vh;
        text-align: center;
    }

    main>#contactView>div:nth-child(3)>p:first-child{
        display: none;
    }

    main>#contactView>div:nth-child(3)>p:nth-child(2){
        display: initial;
    }

    main>#contactView>div:nth-child(3)>address>ul>li{
        position: relative;
        right:  5vw;
        top: 45vh;
    }

    main>#contactView>div:nth-child(3)>address>ul>li>h3{
        width: 40vw;
        font-size: 2.5vw;
    }

    main>#contactView>div:nth-child(3)>address>ul>li>div{
        width: 8vw;
        height: 8vw;
    }

    main>#contactView>div:nth-child(3)>address>ul>li>div>img{
        width: 60%;
    }

    main>#contactView>div:nth-child(3)>div{
        width: 60vw;
        position: absolute;
        left: 5vw;
    }
    main>#contactView>div:nth-child(3)>div>a>div{
        width: 8vw;
        height: 8vw;
        border-radius: 100%;
        background-color: #655029 ;
        display: inline-block;
        opacity: 0.7;
        position: relative;
        top: 40vh;

    }

    main>#contactView>div:nth-child(3)>div>a>div>img{
        width: 70%;
    }

    main>#contactView>div:nth-child(4){
        width: 40vw;
    }

    main>#contactView>div:nth-child(4)>form>input{
        width: 45vw;
        height: 4vw;
        margin-left: -15vw;
        border-radius: 4px;
    }

    main>#contactView>div:nth-child(4)>form>input:nth-child(1){
        margin-top: 4vh;
    }

    main>#contactView>div:nth-child(4)>form>textarea{
        width: 45vw;
        height: 8vh;
        border-radius: 10px;
        margin-left: -15vw;
        padding-left: 1vw;
    }

    main>#contactView>div:nth-child(4)>form>input::placeholder,textarea::placeholder{
        color: white;
        padding-left: 1vw;
        font-size: 2.5vw;
    }

    main>#contactView>div:nth-child(4)>form>textarea::placeholder{
        padding-top: 2.5vh;
    }

    main>#contactView>div:nth-child(4)>form>button{
        left: 0;
        height: 6vw;
        width: 20vw;
        font-size: 3.2vw;
        border-radius: 5px;
    }

    main>#contactView>img{
        width: 60vw;
        top: 60vh;
    }

    footer{
        font-size: 2.5vw;
        opacity: 0.8;
    }
}

