
body{
    background-color: black;
    scroll-behavior: smooth;
    /*overflow-x: hidden;*/
}
body>img{
    height: 100vh;
    width: 100%;
    position: fixed;
    z-index: -5;
    opacity: 0.6;
}
body>div{
    height: 100vh;
    position: fixed;
    background-color: black;
    opacity: 0.3;
}
body>header{
    /*width: 100%;
    height: 4vw;
    background-color: #181512;
    position: fixed;
    top: 0;
    z-index: 10;*/
}

body>header>img{
    position: absolute;
    top:0;
    bottom: 0;
    left: 0;
    margin: auto;
    height: 3.5vw;
}
#content{
    position: relative;
    top: -2vh;
    /*border: 1px solid red;*/
}
#content>div{
    width: 100%;
    height: 4.3vw;
    background-color: #0e0d0b;
    position: sticky;
    top: 0;
    z-index: 10;
    box-shadow: 3px 1px 4px 2px #16130b;
}
#content>div>nav>ul>div>li>a{
    text-decoration: none;
    color: inherit;
    opacity: 0.5;
}

#content>div>nav>ul{
    margin-top: 0;
}
#content>div>nav>ul>div>li{
    display: inline-block;
    margin-top: 4px;
    padding: 1vw;
    font-size: 1.4vw;
    opacity: 0.8;
    color: #F5D66D;
}

#content>div>nav>ul>div>li:hover{
    box-shadow: inset 0 0.1vw 0 gray;
    /*background-color: #181512;*/
    color:white;
}

#content>div>nav>ul>div>li>a:hover{
    /*color:white;*/
}

#content>div>nav>ul>div:first-child{
    position: absolute;
    left: 2vw;
    display: inline-block;
}

#content>div>nav>ul>div:last-child{
    position: absolute;
    display: inline-block;
    /*border: 1px solid red;*/
    width: 32vw;
    height: 5vw;
    right: 0vw;
}
#content>div>label:nth-child(2){
    /*border: 1px solid red;*/
    width: 13vw;
    height: 2vw;
    position: absolute;
    left: 0;
    right: 0;
    top: 0.4vw;
    margin: auto;
    font-size: 1.5vw;
    color: white;
    font-family: 'Inder';
    font-weight: lighter;
    opacity: 0.6;
}

#content>div>label:nth-child(3){
    /*border: 1px solid red;*/
    width: 13vw;
    height: 2vw;
    position: absolute;
    left: -1vw;
    right: 0;
    top: 2.5vw;
    margin: auto;
    font-size: 1vw;
    color: white;
    font-family: 'Inder';
    font-weight: lighter;
    opacity: 0.4;
}

main>hr:nth-child(2){
    /*display: none;*/
}

body>header>div{
    display: none;
}

#mainView{
    height: 100vh;
    background-color: black;
    position: relative;
}

#mainView>img:first-child{
    width: 100%;
    height: 100vh;
    position: absolute;
    right: 0;
    z-index: 0;
    opacity: 0.7;
}

#mainView>img:nth-child(2){
    width: 28vw;
    height: 85vh;
    position: absolute;
    right: 8vw;
    top: 10vh;

}

#mainView>section{
    width: 67vw;
    height: 90vh;
    position: relative;
    top: 10vh;
    left: 5vw;
}

#mainView>section>hgroup>h2:nth-child(2){
    font-family: 'Italianno', cursive;
    font-weight: lighter;
    font-size: 8vw;
    position: absolute;
    color: #DE9506;
    opacity: 0.4;
    top:2.5vw;
    margin: 0;
}

#mainView>section>hgroup>h4{
    font-family: 'Inder', sans-serif;
    font-size: 4vw;
    font-weight: lighter;
    position: absolute;
    color: white;
    top:4vw;
    left: 30px;
    margin: 0;
    opacity: 0.8;
}

#mainView>section>hgroup>h2:nth-child(4){
    font-family: 'Bricolage Grotesque', cursive;
    font-size: 3vw;
    font-weight: normal;
    position: absolute;
    color: white;
    top:30vh;
    left: 30px;
    margin: 0;
}

span{
    color: #DE9506;
}
#mainView>section>hgroup>div{
    width: 70vw;
    height: 10vh;
    position: relative;
    top:37vh;
    left: 30px;
    /*border: 1px solid red;*/
}
#mainView>section>hgroup>div>h1{
    width: 70vw;
    height: 5vw;
    font-family: 'Bricolage Grotesque', cursive;
    font-size: 4vw;
    font-weight: normal;
    position: absolute;
    color: white;
    top:0;
    bottom: 0;
    left: 0;
    margin: auto;
    z-index: 2;
}
#mainView>section>hgroup>div>div{
    position: absolute;
    width: 12vw;
    height: 18vw;
    border: 5px solid #DE9506;
    right: 5.2vw;
    top:0;
    bottom: 0;
    margin: auto;
}

#mainView>section>hgroup>p{
    font-family: 'Inder', sans-serif;
    font-size: 1.5vw;
    font-weight: lighter;
    position: absolute;
    color: white;
    top:55vh;
    left: 30px;
    margin: 0;
    opacity: 0.7;
}

#mainView>section>button:nth-child(2){
    position: absolute;
    top:73vh;
    left: 30px;
    margin: 0;
    height: 6vh;
    width: 9vw;
    background-color: transparent;
    border: 3px solid #DE9506;
    border-radius: 10px;
    border-image: linear-gradient(to right, #6C634C, #DE9506) 1;
    border-radius: 10px;
}

#mainView>section>button:nth-child(2)>a{
    font-family: "Lucida Fax";
    color: white;
    font-size: 1.3vw;
    text-decoration: none;
}

#mainView>section>button:nth-child(3){
    position: absolute;
    top:73vh;
    left: 180px;
    margin: 0;
    height: 6vh;
    width: 10vw;
    background-color: transparent;
    border: 3px solid #DE9506;
    border-image: linear-gradient(to right, #6C634C, #DE9506) 1;
    /*border-radius: 10px;*/
}



#mainView>section>button:nth-child(3)>a{
    font-family: "Lucida Fax";
    color: white;
    font-size: 1.2vw;
    text-decoration: none;
}

hr{
    opacity: 0.2;
}

#mainView>section>hgroup>div>img{
    display: none;
}

#mainView>section>hgroup>img{
    width: 5vw;
    height: 3vw;
    position: absolute;
    left: -4vw;
    top: 5vw;
    opacity: 0.4;
}

#infoView{
    display: flex;
    height: 50vw;
    margin-top: 2vw;
    margin-bottom: 2vw;
}

#infoView>section>div>img{
    display: none;
}

#infoView>section{
    width: calc(100%/3);
    color: white;
    position: relative;
}

#infoView>section>div{
    position: absolute;
    top: 10vh;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    width: 28vw;
    font-size:1.5vw;
}

#infoView>section>div>h2{
    font-family: 'Bricolage Grotesque', cursive;
    font-weight: normal;
    margin-left: 5vw;
}

#infoView>section>div>ul{
    list-style-type: none;
    margin-top: 6vh;
}

#infoView>section>div>ul>li{
    padding-bottom: 1vh;
    position: relative;
}

#infoView>section>div>ul>li>div{
    width: 5vw;
    height: 5vw;
    border-radius: 100%;
    background: linear-gradient(180deg,  #DE9506 20%, black 100%) ;
    display: inline-block;
    margin-right: 2vw;
    opacity: 0.7;
    position: relative;
}

#infoView>section>div>ul>li>div>img{
    position: absolute;
    width: 65%;
    top:0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
}

#infoView>section>div>ul>li>h3{
    font-family: 'Inder', sans-serif;
    font-size: 1.4vw;
    font-weight: lighter;
    display: inline-block;
    position: absolute;
    height: 5vh;
    width: 15vw;
    top:0;
    bottom: 0;
    left: 4vw;
    right: 0;
    margin: auto;
}

#aboutView{
    position: relative;
    height: 50vw;
}
#aboutView>code{
    margin-top: 5vh;
    margin-bottom: 5vh;
    margin-left: 5vw;
    color: white;
    font-size: 1.4vw;
    display: inline-block;

}

#aboutView>img{
    position: absolute;
    right: 5vw;
    top: 0vh;
    width: 18vw;
}

#skillView{
    margin-top: 5vw;
    color: white;
}

#skillView>section{
    display: flex;
    height: 40vw;
    margin-top: 10vh;

}

#skillView>section>div{
    width: calc(100%/4);
    /*position: relative;*/
}

#skillView>h1,#educationView>h2,#projectView>h2,#achievementView>h2 {
    font-family: 'Bricolage Grotesque', cursive;
    font-weight: normal;
    margin-left: 5vw;
    font-size: 2.5vw;
}

#skillView>section>div>div{
    width: 12vw;
    height: 12vw;
    border-radius: 100%;
    border: 3px dotted #6A4A0C;
    left: 0;
    right: 0;
    margin: auto;
    position: relative;

}

#skillView>section>div>div>img{
    width: 8vw;
    position: absolute;
    top:0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    opacity: 0.6;
}

#skillView>section>div>h2,#skillView>div>h2{
    font-family: 'Bricolage Grotesque', cursive;
    font-weight: normal;
    font-size: 2vw;
    text-align: center;
    color: #E5C079;
    margin-bottom: 3vw;

}

#skillView>section>div>h2>span,#skillView>div>h2>span{
    color: #6C634C;
}

#skillView>section>div>ul{
    /*width: 50vw;*/
    /*position: absolute;*/
    margin-left: 3vw;
    font-size: 1.5vw;
    font-family: 'Inder', sans-serif;
    list-style-type: none;
}

#skillView>section>div:nth-child(3)>ul,#skillView>section>div:nth-child(4)>ul{
    margin-left: 5vw;
}

#skillView>section>div>ul>li{
    padding-bottom: 2.5vh;
    opacity: 0.8;
}

#skillView>div{
    position: relative;
    display: inline-block;
    width: calc(99%/2);

    height: 80vh;
    margin-bottom: 5vw;
    position: relative;
}

#skillView>div>div{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 40vw;
    height: 65vh;
    position: absolute;
    left: 0;
    right: 0;
    margin:auto;
}

#skillView>div>div>img:first-child{
    height: 15vh;
    position: absolute;
    left: 0;
    right: 0;
    margin: auto;
    top: 0;
}

#skillView>div>div>img:last-child{
    height: 15vh;
    position: absolute;
    left: 0;
    right: 0;
    margin: auto;
    bottom: 0;
}

#skillView>div>div>div:nth-child(2){
    width: 20vw;
    height: 8vh;
    /*border: 1px solid red;*/
    position: absolute;
    top: 20vh;
    left: 0;
    right: 0;
    margin: auto;
    display: flex;
    justify-content: space-around;
}

#skillView>div>div>div:nth-child(3){
    width:25vw;
    height: 8vh;
    /*border: 1px solid red;*/
    display: block;
    position: absolute;
    top: 35vh;
    left: 0;
    right: 0;
    margin: auto;
    display: flex;
    justify-content: space-around;
}

#skillView>div:last-child>div>div:nth-child(2){
    width: 20vw;
    height: 8vh;
    position: absolute;
    top: 15vh;
    left: 0;
    right: 0;
    margin: auto;
    display: flex;
    justify-content: space-around;
}

#skillView>div:last-child>div>div:nth-child(3){
    width:25vw;
    height: 8vh;
    display: block;
    position: absolute;
    top: 28vh;
    left: 0;
    right: 0;
    margin: auto;
    display: flex;
    justify-content: space-around;
}

#skillView>div:last-child>div>div:nth-child(4){
    width: 20vw;
    height: 8vh;
    display: block;
    position: absolute;
    top: 40vh;
    left: 0;
    right: 0;
    margin: auto;
    display: flex;
    justify-content: space-around;
}


#educationView{
    height: 80vw;
    color: white;
    margin-top: 6vw;
    position: relative;

}
#educationView>section>div:first-child{
    width: 30vw;
    height: 0.5vw;
    background: linear-gradient(90deg, #655029, black);
    box-shadow: 4px 3px 4px 0 #2B2922;
    margin: 10px;
    border-radius: 10px;
}
#educationView>section:nth-child(2)>div:first-child{
    position: absolute;
    bottom: 5vw;
    left: 5vw;
}

#educationView>section:nth-child(3)>div:first-child{
    position: absolute;
    bottom: 20vw;
    left: 20vw;
}

#educationView>section:nth-child(4)>div:first-child{
    position: absolute;
    bottom: 35vw;
    left: 35vw;
}

#educationView>section:nth-child(5)>div:first-child{
    position: absolute;
    bottom: 50vw;
    right: 18vw;
}

#educationView>section:nth-child(6)>div:first-child{
    position: absolute;
    bottom: 65vw;
    right: 4vw;
    margin: 0px;
}

#educationView>section>div:nth-child(2){
    width: 20vw;
    height: 14vh;
    background: linear-gradient(180deg, #2B2922, black);
    box-shadow: 4px 3px 4px 0 #2B2922;
    margin: 10px;
    border-radius: 10px;
    opacity: 0.8;
}
#educationView>section:nth-child(2)>div:nth-child(2){
    position: absolute;
    bottom: 6vw;
    left: 15vw;

}

#educationView>section:nth-child(3)>div:nth-child(2){
    position: absolute;
    bottom: 21vw;
    left: 30vw;

}

#educationView>section:nth-child(4)>div:nth-child(2){
    position: absolute;
    bottom: 36vw;
    left: 45vw;
}

#educationView>section:nth-child(5)>div:nth-child(2){
    position: absolute;
    bottom: 51vw;
    left: 60vw;
}

#educationView>section:nth-child(6)>div:nth-child(2){
    position: absolute;
    bottom: 66vw;
    left: 75vw;
    margin: 0px;
}

#educationView>section>div:nth-child(2)>p{
    text-align: center;
    font-size: 1.1vw;
}

#educationView>section:nth-child(2)>img{
    width: 12%;
    position: absolute;
    bottom: 4vw;
    left: 5vw;

}

#educationView>section:nth-child(3)>img{
    width: 7%;
    position: absolute;
    bottom: 22vw;
    left: 23vw;
}

#educationView>section:nth-child(4)>img{
    width: 7%;
    position: absolute;
    bottom: 32vw;
    left: 38vw;
}

#educationView>section:nth-child(5)>img{
    width: 17%;
    position: absolute;
    bottom:49vw;
    right: 37vw;
}

#educationView>section:nth-child(6)>img{
    width: 15%;
    position: absolute;
    bottom:65vw;
    right: 21vw;
}

#projectView{
    height: 60vw;
    color: white;
    position: relative;
    margin-top: 5vw;
}

#projectView>div:nth-child(3),#projectView>div:nth-child(4){
    width: 13vw;
    height: 9vw;
    background-color: #2B2922;
    position: absolute;
    top: 45vh;
    right: 7vw;
    /*border: 1px solid red;*/
}

#projectView>div>figure>img{
    width: 12vw;
    height: 6vw;
    position: absolute;
    top: 2.5vw;
    right: 0;
    left: 0;
    margin: auto;
}

#projectView>div>figure>figcaption{
    font-family: 'Bricolage Grotesque', cursive;
    font-size: 0.7vw;
    width: 12vw;
    margin-left: -25px;
    font-weight: lighter;
    text-align: center;
}

#projectView>div:nth-child(2){
    width: 16vw;
    height: 14vw;
    background-color: #2B2922;
    position: absolute;
    mix-blend-mode: normal;
    z-index: 9;
    top: 22vw;
    right: 7vw;
}

#projectView>div:nth-child(2)>figure>img{
    width: 15vw;
    height: 9vw;
    position: absolute;
    top: 4vw;
    right: 0;
    left: 0;
}

#projectView>div:nth-child(2)>figure>figcaption{
    font-family: 'Bricolage Grotesque', cursive;
    font-size: 1.1vw;
    font-weight: lighter;
    text-align: center;
    padding-top: 5px;
    padding-left: 25px;
}

#projectView>div:nth-child(2)>figure>div:last-child{
    display: none;
}

#projectView>div:nth-child(4)>figure>div{
    display: none;
}

/*#projectView>div:nth-child(2)>figure>div:last-child{
    width: 100%;
    height: 0;
    background: black;
    position: absolute;
    left: 0;
    bottom: 0;
    overflow: hidden;
    transition: height 1s;
    opacity: 0.8;
}

#projectView>div:nth-child(2):hover>figure>div:last-child{
    height: 75%;
}

#projectView>div:nth-child(2)>figure>div:last-child>div>p:first-child{
    font-family: 'Bricolage Grotesque', cursive;
    font-size: 1.2vw;
    font-weight: lighter;
    text-align: center;
    margin-top: 10vh;
}

#projectView>div:nth-child(2)>figure>div:last-child>div>label:nth-child(2){
    font-family: 'Bricolage Grotesque', cursive;
    font-size: 1.2vw;
    font-weight: lighter;
    text-align: center;
    margin-right: 2vw;
    margin-left: 16vw;
}

#projectView>div:nth-child(2)>figure>div:last-child>div>a>button{
    height: 4vh;
    width: 3vw;
    background-color: transparent;
    border: 1px solid white;
    border-radius: 10px;
    margin-bottom: 5vh;
    cursor: pointer;
}
#projectView>div:nth-child(2)>figure>div:last-child>div>a>button:hover{
    background-color: #2B2922;
}

#projectView>div:nth-child(2)>figure>div:last-child>div>label:nth-child(4){
    font-family: 'Bricolage Grotesque', cursive;
    font-size: 1.2vw;
    font-weight: lighter;
    text-align: center;
    padding-top: 5vh;
    margin-right: 2vw;
    margin-left: 16vw;
}*/

#projectView>div:nth-child(3){
    top: 37vw;
    left: 77vw;
    z-index: 3;
    mix-blend-mode: luminosity;
}

#projectView>div:nth-child(4){
    top: 12vw;
    left: 77vw;
    z-index: 4;
    mix-blend-mode: luminosity;
}

#projectView>div>figure{
    margin-top: 0px;
}

#projectView>div:nth-child(5){
    display: none;
}


#projectView>div:nth-child(6){
    display: none;
}

#projectView>div:nth-child(6)>figure>img{
    width: 20vw;
    height: 40vh;
    left: 0;
}

#projectView>img:nth-child(8){
    position: absolute;
    width: 1vw;
    transform: rotate(90deg);
    top:10vw;
    right: 15vw;
}

#projectView>img:nth-child(9){
    position: absolute;
    width: 1vw;
    transform: rotate(90deg);
    top:47vw;
    right: 15vw;
}

#projectView>div:nth-child(7){
    position: absolute;
    height: 7vh;
    width: 100%;
    background: linear-gradient(180deg, #2B2922, black);
    bottom: 0;
    mix-blend-mode: normal;
    text-align: center;
}

#projectView>div:nth-child(7)>p{
    font-family: 'Bricolage Grotesque', cursive;
    margin-top: 1.3vh;
    margin-right: 2vw;
    font-size: 1.4vw;
    display: inline-block;
}

#projectView>div:nth-child(7)>a>button{
    height: 5vh;
    /*width: 8vw;*/
    background-color: #2B2922;
    border: 1px solid #DE9506;
    border-radius: 10px;
    color: white;
    cursor: pointer;
}

#projectView>div:nth-child(7)>a>button:hover,#mainView>section>button:hover,#contactView>div:nth-child(4)>form>button:hover{
    background-color: #1c1b17;
}


#projectView>video{
    position: absolute;
    width: 65vw;
    top: 10vw;
    left: 5vw;;
    padding-top: 10px;
    border: 4px solid #2B2922;
}

#achievementView{
    height: 60vh;
    color: white;
    position: relative;
}

#achievementView>div{
    width: 25vw;
    height: 35vh;
    background-color: #2B2922;
    position: relative;
    mix-blend-mode: luminosity;
    margin: 0px;
    display: inline-block;
}

#achievementView>div>figure>img{
    width: 23vw;
    height: 28vh;
    position: absolute;
    top: 2vh;
    right: 0;
    left: 0;
    bottom: 0;
    margin: auto;
}

#achievementView>div>figure>figcaption{
    font-family: 'Bricolage Grotesque', cursive;
    font-size: 0.8vw;
    font-weight: lighter;
    text-align: center;
    padding-top: 0;
}

#achievementView>div:nth-child(2){
    width: 30vw;
    height: 40vh;
    background-color: #2B2922;
    position: absolute;
    top: 7vh;
    left: 33vw;
    mix-blend-mode: normal;
    z-index: 5;
}

#achievementView>div:nth-child(2)>figure>img{
    width: 28vw;
    height: 31vh;
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    margin: auto;
}

#achievementView>div:nth-child(2)>figure>figcaption{
    font-family: 'Bricolage Grotesque', cursive;
    font-size: 1.2vw;
    font-weight: lighter;
    text-align: center;
}

#achievementView>div:nth-child(3){
    top: 1vh;
    right: 0;
    left: 20vw;
    margin: auto;
    z-index: 4;
}

#achievementView>div:nth-child(4){
    top: 1vh;
    left: 27vw;
    z-index: 4;
    margin: 0px;
    border: 1px solid red;
}

#achievementView>div:nth-child(5){
    top: -1vh;
    left: 10vw;
    height: 30vh;
    margin: auto;
    z-index: 3;

}

#achievementView>div:nth-child(5)>figure>img{
    width: 22vw;
    height: 24vh;
}

#achievementView>div:nth-child(6){
    top: -32vh;
    left: 13vw;
    height: 30vh;
    margin: 0px;
    z-index: 3;
}

#achievementView>div:nth-child(6)>figure>img{
    width: 23vw;
    height: 24vh;
}

#achievementView>img:nth-child(7){
    position: absolute;
    width: 5vh;
    top:10vh;
    bottom: 0;
    left: 2vw;
    margin: auto;
}

#achievementView>img:nth-child(8){
    position: absolute;
    width: 5vh;
    top:10vh;
    bottom: 0;
    right: 2vw;
    margin: auto;

}

#galleryView{
    height: 40vw;
    width: 85vw;
    left: 0;
    right: 0;
    margin: auto;
    background: url("assets/BeautyPlus_20230323181232846_save.jpg");
    background-position: top;
    background-size: cover;
    position: relative;
    color: white;
    margin-top: 4vw;
    margin-bottom: 4vw;

}
#galleryView>img:first-child{
    position: absolute;
    left: 5vw;
    width: 15vw;
    top: 3vw;
}

#galleryView>hgroup>h4{
    font-family: 'Italianno', cursive;
    font-weight: lighter;
    font-size: 3vw;
    position: absolute;
    left: 5vw;
    top: 12vw;
}

#galleryView>hgroup>h2{
    font-family: 'Inder', sans-serif;
    font-weight: lighter;
    font-size: 4vw;
    position: absolute;
    left: 5vw;
    top: 16vw;
}

#galleryView>hgroup>h2>span{
    color: white;
    font-family: Impact, serif;
    text-shadow:
            -2px -1px 0 #000,
            2px -1px 0 #000,
            -2px 1px 0 #000,
            2px 1px 0 #000;
}

#galleryView>hgroup>blockquote{
    font-family: 'Inder', sans-serif;
    font-size: 1.2vw;
    font-weight: lighter;
    word-spacing: 8px;
    position: absolute;
    left: 5vw;
    top: 25vw;
    opacity: 0.5;
}

#galleryView>button{
    height: 6vh;
    width: 9vw;
    background-color: transparent;
    border: 1px solid white;
    font-family: 'Italianno', cursive;
    font-size: 1.6vw;
    position: absolute;
    left: 5vw;
    bottom: 3vw;
}

#galleryView>button:hover,#artGalleryView>button:hover{
    background-color: dimgray;
}

#galleryView>button>a{
    color: white;
    text-decoration: none;
}



#artGalleryView{
    height: 40vw;
    width: 85vw;
    left: 0;
    right: 0;
    margin: auto;
    background: url("assets/BeautyPlus_20221018191601630_save.jpg");
    background-position: top;
    background-size: cover;
    position: relative;
    color: white;
    margin-top: 4vw;
    margin-bottom: 4vw;
}
#artGalleryView>img:first-child{
    position: absolute;
    left: 5vw;
    width: 15vw;
    top: 3vw;
}

#artGalleryView>hgroup>h4{
    font-family: 'Italianno', cursive;
    font-weight: lighter;
    font-size: 3vw;
    position: absolute;
    left: 5vw;
    top: 12vw;
}

#artGalleryView>hgroup>h2{
    font-family: 'Inder', sans-serif;
    font-weight: lighter;
    font-size: 4vw;
    position: absolute;
    left: 5vw;
    top: 16vw;
}

#artGalleryView>hgroup>h2>span{
    color: white;
    font-family: Impact, serif;
    text-shadow:
            -2px -1px 0 #000,
            2px -1px 0 #000,
            -2px 1px 0 #000,
            2px 1px 0 #000;
}

#artGalleryView>hgroup>blockquote{
    font-family: 'Inder', sans-serif;
    font-size: 1.2vw;
    font-weight: lighter;
    word-spacing: 8px;
    position: absolute;
    left: 5vw;
    top: 25vw;
    opacity: 0.5;
}

#artGalleryView>button{
    height: 6vh;
    width: 9vw;
    background-color: transparent;
    border: 1px solid white;
    font-family: 'Italianno', cursive;
    font-size: 1.6vw;
    position: absolute;
    left: 5vw;
    bottom: 3vw;
}

#artGalleryView>button>a{
    color: white;
    text-decoration: none;
}

#graphView{
    height: 40vh;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

#graphView>section{
    width: 35vw;
    height: 30vh;
    background-color: #1c1b17;
    display: inline-block;
    border-radius: 20px;
    position: relative;
    margin-left: 10vw;
    margin-right: 10vw ;
}


#graphView>section>div{
    width: 20vw;
    height: 20vh;
    background-color: #4F4B43;
    border-radius: 20px;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
}

#graphView>section:first-child>div>h3{
    font-family: 'Inder', sans-serif;
    font-size: 1.5vw;
    font-weight: lighter;
    text-align: center;
    color: white;
}

#graphView>section:first-child>div>button{
    background-color: #2B2922;
    border-color: transparent;
    border-radius: 100%;
    width: 3.5vw;
    height: 3.5vw;
    cursor: pointer;
}

#graphView>section:first-child>div>button>img{
    width: 90%;
}

#graphView>section:first-child>div>button:nth-child(2):hover{
    border: 2px solid #CBA136;
}

#graphView>section:first-child>div>button:nth-child(3):hover{
    border: 2px solid #9F5600;
}

#graphView>section:first-child>div>button:nth-child(2){
    position: absolute;
    left: 6vw;
    top: 11vh;
}

#graphView>section:first-child>div>button:nth-child(3){
    position: absolute;
    left: 11vw;
    top: 11vh;
}

#graphView>section:last-child>div:first-child{
    height: 25vh;
    width: 0.1vw;
    background-color: #9A8265;
    position: absolute;
    z-index: 2;
    right: 15vw;
}

#graphView>section:last-child>div:nth-child(2){
    height: 5vh;
    width: 15vw;
    background-color: #B2970B;
    position: absolute;
    z-index: 2;
    left: 0;
    bottom: 8vh;
    border-radius: 0;
}

#graphView>section:last-child>div:last-child{
    height: 5vh;
    width: 5vw;
    background-color: #B2510B;
    position: absolute;
    z-index: 2;
    right: 10vw;
    bottom: -10vh;
    border-radius: 0;
}

#contactView{
    height: 90vh;
    position: relative;
    background: linear-gradient(180deg, transparent, #3B311F);
    opacity: 0.8;
}

#contactView>h2{
    width: 20vw;
    color: #DE9506;
    font-family: 'Italianno', cursive;
    font-weight: lighter;
    font-size: 6vw;
    opacity: 0.3;
    position: absolute;
    top: 2vh;
    left: 0;
    right: 0;
    margin: auto;
}

#contactView>h3{
    width: 15vw;
    font-family: 'Bricolage Grotesque', cursive;
    font-size: 2vw;
    font-weight: lighter;
    color: white;
    position: absolute;
    top: 6vh;
    left: 2vw;
    right: 0;
    margin: auto;
}

#contactView>div:nth-child(3){
    width: 40vw;
    height: 70vh;
    margin-top: 16vh;
    margin-left: 4vw;
    position: relative;
    color: white;
    display: inline-block;
}

#contactView>div:nth-child(3)>p{
    font-family: 'Inder', sans-serif;
    font-size: 1.3vw;
    font-weight: lighter;
    text-align: left;
    opacity: 0.5;
    word-spacing: 5px;
}

#contactView>div:nth-child(3)>p:nth-child(2){
    display: none;
}

#contactView>div:nth-child(3)>address>ul{
    list-style-type: none;
}
#contactView>div:nth-child(3)>address>ul>li{
    position: relative;
    right:  3vw;
}

#contactView>div:nth-child(3)>address>ul>li>h3{
    font-family: 'Inder', sans-serif;
    font-size: 1.3vw;
    font-weight: lighter;
    display: inline-block;
    position: absolute;
    margin-left: 2vw;
    opacity: 0.8;
}

#contactView>div:nth-child(3)>address>ul>li>div{
    width: 4vw;
    height: 4vw;
    border-radius: 100%;
    background: linear-gradient(180deg,  #DE9506 0%, black 100%) ;
    display: inline-block;
    opacity: 0.7;
    position: relative;
}

#contactView>div:nth-child(3)>address>ul>li>div>img{
    width: 60%;
    position: absolute;
    top:0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
}

#contactView>div:nth-child(3)>div>a>div{
    width: 4vw;
    height: 4vw;
    border-radius: 100%;
    background-color: #655029 ;
    display: inline-block;
    opacity: 0.7;
    position: relative;
    margin-top: 6vh;
    margin-right: 2vw;

}

#contactView>div:nth-child(3)>div>a>div>img{
    width: 70%;
    position: absolute;
    top:0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
}

#contactView>div:nth-child(4){
    width: 30vw;
    height: 65vh;
    display: inline-block;
    position: absolute;
    left: 40vw;
    top: 24vh;
    color: white;
    z-index: 3;
}

#contactView>div:nth-child(4)>form>input,textarea{
    opacity: 0.7;
    background-color: #625A46;
    border: 2px solid #F6C827;
    border-radius: 30px;
}

#contactView>div:nth-child(4)>form>input{
    width: 24vw;
    height: 5vh;
    padding-left: 1vw;
    color: white;

}

#contactView>div:nth-child(4)>form>textarea{
    width: 24vw;
    height: 20vh;
    padding-left: 1vw;
}

#contactView>div:nth-child(4)>form>input::placeholder,textarea::placeholder{
    color: white;
    padding-left: 1vw;
}

#contactView>div:nth-child(4)>form>textarea::placeholder{
    padding-top: 8vh;
}

#contactView>div:nth-child(4)>form>button{
    background-color: #3B311F;
    border-color: #AB9A9A;
    position: absolute;
    left: 8vw;
    border-radius: 10px;
    height: 6vh;
    width: 7vw;
    color: white;
    cursor: pointer;
}

#contactView>img{
    position: absolute;
    width: 40vw;
    right: 0;
    top: 10vh;
    z-index: 1;
}

/*footer{*/
/*    height: 5vh;*/
/*    background-color: #3B311F;*/
/*    text-align: center;*/
/*    color: white;*/
/*    font-size: 1.4vw;*/
/*    opacity: 0.8;*/
/*}*/

footer .menu {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10px 0;
    flex-wrap: wrap;
    list-style: none;
}

footer .menu li a {
    font-size: 1.5em;
    color: white;
    margin: 0 10px;
    display: inline-block;
    transition: .5s;
}

footer .menu li a:hover {
    transform: translateY(-5px);
}
footer p {
    color: white;
    text-align: center;
    margin-top: 15px;
    margin-bottom: 10px;
    font-size: 1.1em;
    letter-spacing: 2px;
}

footer .wave {
    position: absolute;
    top: -80px;
    left: 0;
    width: 100%;
    height: 80px;
    background: url("assets/wave.png");
    background-size: 1000px 100px;
}

footer .wave#wave1 {
    z-index: 1000;
    /* opacity: 1; */
    bottom: 0;
    animation: animateWave 5s linear infinite;
}

footer .wave#wave2 {
    z-index: 999;
    opacity: .8;
    bottom: 0;
    animation: animateWave2 4s linear infinite;
}

footer .wave#wave3 {
    z-index: 1000;
    opacity: .2;
    bottom: 15px;
    animation: animateWave 3s linear infinite;
}

footer .wave#wave4 {
    z-index: 999;
    opacity: .7;
    bottom: 20px;
    animation: animateWave2 3s linear infinite;
}

@media all and (max-width: 1024px) {
    #mainView>section>hgroup>div>div{
        right: 5.0vw;
    }

    #mainView>section>hgroup>h2:nth-child(4){
        font-size: 4vw;
        top:28vh;
    }

    #mainView>section>hgroup>div{
        width: 75vw;
        top:38vh;
    }
    #mainView>section>hgroup>div>h1{
        font-size: 4.4vw;
    }
    #mainView>section>hgroup>div>div{
        right: 4.8vw;
    }

    #mainView>section>hgroup>p{
        font-size: 1.8vw;
    }

    #mainView>section>button:nth-child(2){
        top:70vh;
    }

    #mainView>section>button:nth-child(2)>a{
        font-size: 1.4vw;
    }

    #mainView>section>button:nth-child(3){
        top:70vh;
        width: 12vw;
    }

    #mainView>section>button:nth-child(3)>a{
        font-size: 1.4vw;
    }

    #mainView>img:nth-child(2){
        width: 32vw;
        height: 85vh;
        position: absolute;
        right: 4vw;
        top: 10vh;

    }

    #aboutView>code{
        margin-left: 7vw;

    }

    #aboutView>code>pre {
        margin-left: 1vw;
    }

    #skillView>h1,section:nth-child(9)>h2,section:nth-child(11)>h2,section:nth-child(13)>h2 {
        font-size: 2.9vw;
    }

    #skillView>div>div>div:nth-child(2){
        height: 8vh;
    }

    #skillView>div>div>div:nth-child(3){
        height: 7vh;
    }

    #skillView>div:last-child>div>div:nth-child(2){
        width: 25vw;
        height: 7vh;
    }

    #skillView>div:last-child>div>div:nth-child(3){
        width:30vw;
        height: 7vh;
    }

    #skillView>div:last-child>div>div:nth-child(4){
        width: 25vw;
        height: 7vh;
    }

    #projectView>div:nth-child(3){
        left: 78.5vw;
    }

    #projectView>div:nth-child(4){
        left: 78.5vw;;
    }

    #mainView>section>button:nth-child(3){
        top:70vh;
        left: 15vw;
    }

    #projectView>div:nth-child(7)>p{
        margin-top: 2.7vh;
        font-size: 1.8vw;
    }

    #galleryView{
        margin-top: 3vw;
        margin-bottom: 3vw;
    }

    #galleryView>hgroup>h4{
        font-size: 3.5vw;
    }

    #galleryView>hgroup>h2{;
        font-size: 5vw;
    }

    #galleryView>hgroup>blockquote{
        font-size: 1.5vw;
    }

    #galleryView>button{
        height: 2.5vw;
    }

    #artGalleryView{
        margin-top: 3vw;
        margin-bottom: 3vw;
    }

    #artGalleryView>hgroup>h4{
        font-size: 3.5vw;
    }

    #artGalleryView>hgroup>h2{;
        font-size: 5vw;
    }

    #artGalleryView>hgroup>blockquote{
        font-size: 1.5vw;
    }

    #artGalleryView>button{
        height: 2.5vw;
    }

    #graphView>section>div{
        width: 23vw;
        height: 14vw;
    }

    #graphView>section:first-child>div>h3{
        font-size: 2vw;
    }

    #graphView>section:first-child>div>button{
        width: 5vw;
        height: 5vw;
    }

    #graphView>section:first-child>div>button:nth-child(2){
        left: 6vw;
        top: 13vh;
    }

    #graphView>section:first-child>div>button:nth-child(3){
        left: 13vw;
        top: 13vh;
    }
    #graphView>section:first-child>div>button>img{
        width: 90%;
    }

    #contactView{
        height: 85vh;
    }

    #contactView>h2{
        width: 30vw;
        font-size: 7vw;
        left: 8vw;
    }

    #contactView>h3{
        width: 20vw;
        font-size: 2.5vw;
        left: 5vw;
    }

    #contactView>div:nth-child(3){
        width: 40vw;
        height: 70vh;
        margin-top: 16vh;
        margin-left: 4vw;
        position: relative;
        color: white;
        display: inline-block;
    }

    #contactView>div:nth-child(3)>p{
        font-size: 1.6vw;
    }

    #contactView>div:nth-child(3)>address>ul>li>h3{
        font-size: 1.5vw;
    }

    #contactView>div:nth-child(4){
        top: 20vh;
    }

    #contactView>div:nth-child(4)>form>button{
        left: 7vw;
        width: 10vw;
    }

    #contactView>img{
        top: 15vh;
    }



}

@media all and (max-width: 870px) {

    #mainView>section>hgroup>div>div{
        right: 5.0vw;
    }
    #mainView>section>hgroup>h2:nth-child(4){
        font-size: 4.3vw;
        top:29vh;
    }

    #mainView>section>hgroup>div>h1{
        font-size: 4.7vw;
    }

    #infoView{
        display: flex;
        height: 50vw;
        margin-bottom: 5vw;
        margin-top: -3vw;
    }

    #infoView>section>div>ul>li>h3{
        width: 15vw;
        left: 6vw;
    }

    #skillView>div{
        height: 75vh;
    }

    #projectView>div:nth-child(7)>p{
        margin-top: 2.7vh;
        font-size: 2vw;
    }

}























