body{
    background-color: black;
    z-index: 0.1;
}
body>img{
    /*height: 100vh;*/
    /*width: 100vw;*/
    /*position: fixed;*/
    /*z-index: 1;*/
}
body>div{
    height: 100vh;
    width: 100vw;
    position: fixed;
    background-color: black;
    opacity: 0.3;
}
body>header{
    width: 100vw;
    height: 8vh;
    background-color: #181512;
    position: fixed;
    top: 0;
    z-index: 10;
}

body>header>img{
    position: absolute;
    top:0;
    bottom: 0;
    left: 0;
    margin: auto;
    height: 7vh;
}
body>header>nav{
    position: absolute;
    top: 0;
    bottom: 0;
    right: 2vw;
    margin: auto;
    height: 8vh;
    color: #F5D66D;

}
body>header>nav>ul{
    margin-top: 0px;
}
body>header>nav>ul>li{
    display: inline-block;
    margin-top: 4px;
    padding: 1vw;
    font-size: 1.2vw;
}
body>header>nav>ul>li:first-child{
    color: white;
}

main>section:first-child{
    height: 100vh;
}

main>section:first-child>img:first-child{
    width: 80vw;
    height: 96vh;
    position: absolute;
    right: 0;
    opacity: 0.4;
    z-index: 0;
}

main>section:first-child>img:nth-child(2){
    width: 28vw;
    height: 85vh;
    position: absolute;
    right: 8vw;
    top: 10vh;

}

main>section:first-child>section{
    width: 67vw;
    height: 90vh;
    position: relative;
    top: 10vh;
    left: 5vw;
}

main>section:first-child>section>hgroup>h2:first-child{
    font-family: 'Italianno', cursive;
    font-size: 7vw;
    position: absolute;
    color: #DE9506;
    opacity: 0.4;
    top:7vh;
    margin: 0px;
}

main>section:first-child>section>hgroup>h4{
    font-family: 'Inder', sans-serif;
    font-size: 4vw;
    font-weight: lighter;
    position: absolute;
    color: white;
    top:9vh;
    left: 30px;
    margin: 0px;
}

main>section:first-child>section>hgroup>h2:nth-child(3){
    font-family: 'Bricolage Grotesque', cursive;
    font-size: 3vw;
    font-weight: normal;
    position: absolute;
    color: white;
    top:30vh;
    left: 30px;
    margin: 0px;
}

span{
    color: #DE9506;
}

main>section:first-child>section>hgroup>h1{
    font-family: 'Bricolage Grotesque', cursive;
    font-size: 4vw;
    font-weight: normal;
    position: absolute;
    color: white;
    top:39vh;
    left: 30px;
    margin: 0px;
    z-index: 2;
}



main>section:first-child>section>div{
    position: absolute;
    width: 12vw;
    height: 40vh;
    border: 5px solid #DE9506;
    right: 0;
    top:25vh;
}

main>section:first-child>section>hgroup>p{
    font-family: 'Inder', sans-serif;
    font-size: 1.5vw;
    font-weight: lighter;
    position: absolute;
    color: white;
    top:55vh;
    left: 30px;
    margin: 0px;
}

main>section:first-child>section>button:nth-child(3){
    position: absolute;
    size: 50px;
    top:73vh;
    left: 30px;
    margin: 0px;
    height: 5vh;
    width: 7vw;
    background-color: #625A46;
    border: 1px solid #DE9506;
    border-radius: 10px;
}

main>section:first-child>section>button:nth-child(3)>a{
    color: white;
    font-size: 1.1vw;
    text-decoration: none;
}

main>section:first-child>section>button:nth-child(4){
    position: absolute;
    size: 50px;
    top:73vh;
    left: 180px;
    margin: 0px;
    height: 5vh;
    width: 7vw;
    background-color: #625A46;
    border: 1px solid #DE9506;
    border-radius: 10px;
}

main>section:first-child>section>button:nth-child(4)>a{
    color: white;
    font-size: 1vw;
    text-decoration: none;
}

hr{
    opacity: 0.4;
}

main>section:first-child>img:nth-child(3){
    width: 5vw;
    height: 10vh;
    position: absolute;
    left: 15px;
    top: 19.4vh;
    opacity: 0.4;
}

main>section:nth-child(3){
    display: flex;
    height: 95vh;
}

main>section:nth-child(3)>section{
    width: calc(100%/3);
    color: white;
    position: relative;
}

main>section:nth-child(3)>section>div{
    position: absolute;
    top: 10vh;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    width: 28vw;
    font-size:1.5vw;
}

main>section:nth-child(3)>section>div>h2{
    font-family: 'Bricolage Grotesque', cursive;
    font-weight: normal;
    margin-left: 5vw;
}

main>section:nth-child(3)>section>div>ul{

    list-style-type: none;
    margin-top: 6vh;


}

main>section:nth-child(3)>section>div>ul>li{
    padding-bottom: 1vh;
    position: relative;
}

main>section:nth-child(3)>section>div>ul>li>div{
    width: 5vw;
    height: 10vh;
    border-radius: 100%;
    background: linear-gradient(180deg,  #DE9506 20%, black 100%) ;
    display: inline-block;
    margin-right: 2vw;
    opacity: 0.7;
    position: relative;
}

main>section:nth-child(3)>section>div>ul>li>div>img{
    position: absolute;
    top:0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
}

main>section:nth-child(3)>section>div>ul>li>h3{
    font-family: 'Inder', sans-serif;
    font-size: 1.4vw;
    font-weight: lighter;
    display: inline-block;
    position: absolute;
    height: 5vh;
    width: 15vw;
    top:0;
    bottom: 0;
    left: 4vw;
    right: 0;
    margin: auto;
}

main>section:nth-child(5){
    position: relative;
}
main>section:nth-child(5)>pre{
    margin-left: 5vw;
    color: white;
    font-size: 1.2vw;
    display: inline-block;
}

main>section:nth-child(5)>img{
    position: absolute;
    right: 5vw;
    top: 10vh;
    width: 15vw;
}

main>section:nth-child(7){
    margin-top: 10vh;
    color: white;
}

main>section:nth-child(7)>section{
    display: flex;
    height: 84vh;
    margin-top: 10vh;

}

main>section:nth-child(7)>section>div{
    width: calc(98vw/4);
    /*position: relative;*/
}

main>section:nth-child(7)>h1,main>section:nth-child(9)>h2,main>section:nth-child(11)>h2,main>section:nth-child(13)>h2 {
    font-family: 'Bricolage Grotesque', cursive;
    font-weight: normal;
    margin-left: 5vw;
    font-size: 2.5vw;
}

main>section:nth-child(7)>section>div>div{
    width: 12vw;
    height: 25vh;
    border-radius: 100%;
    border: 3px dotted #6A4A0C;
    left: 0;
    right: 0;
    margin: auto;
    position: relative;

}

main>section:nth-child(7)>section>div>div>img{
    width: 8vw;
    position: absolute;
    top:0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    opacity: 0.6;
}

main>section:nth-child(7)>section>div>h2,main>section:nth-child(7)>div>h2{
    font-family: 'Bricolage Grotesque', cursive;
    font-weight: normal;
    font-size: 2vw;
    text-align: center;
    color: #E5C079;

}

main>section:nth-child(7)>section>div>h2>span,main>section:nth-child(7)>div>h2>span{
    color: #6C634C;
}

main>section:nth-child(7)>section>div>ul{
    /*width: 50vw;*/
    /*position: absolute;*/
    margin-left: 3vw;
    font-size: 1.5vw;
    font-family: 'Inder', sans-serif;
    list-style-type: none;
}

main>section:nth-child(7)>section>div:nth-child(3)>ul,main>section:nth-child(7)>section>div:nth-child(4)>ul{
    margin-left: 5vw;
}

main>section:nth-child(7)>section>div>ul>li{
    padding-bottom: 2.5vh;
    opacity: 0.6;
}

main>section:nth-child(7)>div{
    position: relative;
    border: 1px solid red;
    display: inline-block;
    width: calc(98vw/2);
    height: 80vh;
}

main>section:nth-child(7)>div>div{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

main>section:nth-child(7)>div>div>img:nth-child(1){
    align-self:flex-end;

}

main>section:nth-child(9){
    height: 120vh;
    color: white;
    margin-top: 7vh;
    position: relative;
    position: relative;
}
main>section:nth-child(9)>section>div:first-child{
    width: 30vw;
    height: 1vh;
    background: linear-gradient(90deg, #655029, black);
    box-shadow: 4px 3px 4px 0px #2B2922;
    margin: 10px;
    border-radius: 10px;
    opacity: 1;
}
main>section:nth-child(9)>section:nth-child(2)>div:first-child{
    position: absolute;
    bottom: 5vh;
    left: 5vw;
}

main>section:nth-child(9)>section:nth-child(3)>div:first-child{
    position: absolute;
    bottom: 25vh;
    left: 20vw;
}

main>section:nth-child(9)>section:nth-child(4)>div:first-child{
    position: absolute;
    bottom: 45vh;
    left: 35vw;
}

main>section:nth-child(9)>section:nth-child(5)>div:first-child{
    position: absolute;
    top: 50vh;
    left: 50vw;
}

main>section:nth-child(9)>section:nth-child(6)>div:first-child{
    position: absolute;
    top: 29vh;
    left: 65vw;
}

main>section:nth-child(9)>section>div:nth-child(2){
    width: 20vw;
    height: 14vh;
    background: linear-gradient(180deg, #2B2922, black);
    box-shadow: 4px 3px 4px 0px #2B2922;
    margin: 10px;
    border-radius: 10px;
    opacity: 0.6;
}
main>section:nth-child(9)>section:nth-child(2)>div:nth-child(2){
    position: absolute;
    bottom: 6vh;
    left: 15vw;

}

main>section:nth-child(9)>section:nth-child(3)>div:nth-child(2){
    position: absolute;
    bottom: 26vh;
    left: 30vw;
}

main>section:nth-child(9)>section:nth-child(4)>div:nth-child(2){
    position: absolute;
    bottom: 46vh;
    left: 45vw;
}

main>section:nth-child(9)>section:nth-child(5)>div:nth-child(2){
    position: absolute;
    top: 36vh;
    left: 60vw;
}

main>section:nth-child(9)>section:nth-child(6)>div:nth-child(2){
    position: absolute;
    top: 15vh;
    left: 75vw;
}

main>section:nth-child(9)>section>div:nth-child(2)>p{
    text-align: center;
    opacity: 1;
    font-size: 1.1vw;
}

main>section:nth-child(9)>section:nth-child(2)>img{
    position: absolute;
    width: 13vw;
    bottom: 4vh;
    left: 5vw;
    opacity: 0.4;

}

main>section:nth-child(9)>section:nth-child(3)>img{
    position: absolute;
    bottom: 28vh;
    left: 23vw;
    opacity: 0.4;
}

main>section:nth-child(9)>section:nth-child(4)>img{
    position: absolute;
    bottom: 39vh;
    left: 38vw;
    opacity: 0.4;
}

main>section:nth-child(9)>section:nth-child(5)>img{
    width: 12vw;
    position: absolute;
    top: 9vh;
    left: 48vw;
}

main>section:nth-child(9)>section:nth-child(6)>img{
    position: absolute;
    top: -10vh;
    left: 65vw;
    opacity: 0.4;
}

main>section:nth-child(11){
    height: 100vh;
    color: white;
    position: relative;
}

main>section:nth-child(11)>div{
    width: 30vw;
    height: 60vh;
    background-color: #2B2922;
    position: relative;

    mix-blend-mode: luminosity;
}

main>section:nth-child(11)>div>figure>img{
    width: 25vw;
    height: 45vh;
    position: absolute;
    top: 5vh;
    right: 0;
    left: 0;
    bottom: 0;
    margin: auto;
}

main>section:nth-child(11)>div>figure>figcaption{
    font-family: 'Bricolage Grotesque', cursive;
    font-size: 1.2vw;
    font-weight: lighter;
    text-align: center;
    padding-top: 2vh;
}

main>section:nth-child(11)>div:nth-child(2){
    width: 40vw;
    height: 70vh;
    background-color: #2B2922;
    position: absolute;
    top: 0vh;
    right: 0;
    left: 0;
    bottom: 0;
    margin: auto;
    mix-blend-mode: normal;
    z-index: 5;
}

main>section:nth-child(11)>div:nth-child(2)>figure>img{
    width: 36vw;
    position: absolute;
    top: 10vh;
    right: 0;
    left: 0;
    bottom: 0;
    margin: auto;
}

main>section:nth-child(11)>div:nth-child(2)>figure>figcaption{
    font-family: 'Bricolage Grotesque', cursive;
    font-size: 1.5vw;
    font-weight: lighter;
    text-align: center;
}

main>section:nth-child(11)>div:nth-child(3){
    top: 10vh;
    right: 0;
    left: -20vw;
    margin: auto;
    z-index: 4;
}

main>section:nth-child(11)>div:nth-child(4){
    top: -52vh;
    right: -20vw;
    margin: auto;
    z-index: 4;
}

main>section:nth-child(11)>div:nth-child(5){
    height: 50vh;
    top: -110vh;
    right: 0;
    left: -30vw;
    margin: auto;
    z-index: 3;
}

main>section:nth-child(11)>div:nth-child(5)>figure>img{
    width: 20vw;
    height: 40vh;
    left: -5vw;
}

main>section:nth-child(11)>img:nth-child(7){
    position: absolute;
    width: 5vh;
    top:10vh;
    bottom: 0;
    left: 2vw;
    margin: auto;
    opacity: 0.6;
}

main>section:nth-child(11)>img:nth-child(8){
    position: absolute;
    width: 5vh;
    top:10vh;
    bottom: 0;
    right: 2vw;
    margin: auto;
    opacity: 0.6;
}

main>section:nth-child(11)>div:nth-child(6){
    position: absolute;
    height: 7vh;
    width: 100%;
    background: linear-gradient(180deg, #2B2922, black);
    bottom: 0vh;
    mix-blend-mode: normal;
    text-align: center;
}

main>section:nth-child(11)>div:nth-child(6)>p{
    font-family: 'Bricolage Grotesque', cursive;
    margin-top: 1.3vh;
    margin-right: 2vw;
    font-size: 1.4vw;
    display: inline-block;
}

main>section:nth-child(11)>div:nth-child(6)>button{
    size: 50px;
    height: 5vh;
    width: 7vw;
    background-color: #2B2922;
    border: 1px solid #DE9506;
    border-radius: 10px;
    color: white;
}

main>section:nth-child(13){
    height: 60vh;
    color: white;
    position: relative;
}

main>section:nth-child(13)>div{
    width: 25vw;
    height: 35vh;
    background-color: #2B2922;
    position: relative;
    mix-blend-mode: luminosity;
}

main>section:nth-child(13)>div>figure>img{
    width: 23vw;
    height: 28vh;
    position: absolute;
    top: 2vh;
    right: 0;
    left: 0;
    bottom: 0;
    margin: auto;
}

main>section:nth-child(13)>div>figure>figcaption{
    font-family: 'Bricolage Grotesque', cursive;
    font-size: 0.8vw;
    font-weight: lighter;
    text-align: center;
    padding-top: 0vh;
}

main>section:nth-child(13)>div:nth-child(2){
    width: 30vw;
    height: 40vh;
    background-color: #2B2922;
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    margin: auto;
    mix-blend-mode: normal;
    z-index: 5;
}

main>section:nth-child(13)>div:nth-child(2)>figure>img{
    width: 28vw;
    height: 31vh;
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    margin: auto;
}

main>section:nth-child(13)>div:nth-child(2)>figure>figcaption{
    font-family: 'Bricolage Grotesque', cursive;
    font-size: 1.2vw;
    font-weight: lighter;
    text-align: center;
}

main>section:nth-child(13)>div:nth-child(3){
    top: 2vh;
    right: 0;
    left: -13vw;
    margin: auto;
    z-index: 4;
}

main>section:nth-child(13)>div:nth-child(4){
    top: -35vh;
    right: -13vw;
    margin: auto;
    z-index: 4;
}

main>section:nth-child(13)>div:nth-child(5){
    top: -70vh;
    left: -20vw;
    height: 30vh;
    margin: auto;
    z-index: 3;
}

main>section:nth-child(13)>div:nth-child(5)>figure>img{
    width: 50vh;
    height: 24vh;
}

main>section:nth-child(13)>div:nth-child(6){
    top: -103vh;
    right: -20vw;
    height: 30vh;
    margin: auto;
    z-index: 3;
}

main>section:nth-child(13)>div:nth-child(6)>figure>img{
    width: 50vh;
    height: 24vh;
}

main>section:nth-child(13)>img:nth-child(7){
    position: absolute;
    width: 5vh;
    top:10vh;
    bottom: 0;
    left: 2vw;
    margin: auto;
    opacity: 0.6;
}

main>section:nth-child(13)>img:nth-child(8){
    position: absolute;
    width: 5vh;
    top:10vh;
    bottom: 0;
    right: 2vw;
    margin: auto;
    opacity: 0.6;
}

main>section:nth-child(15){
    height: 85vh;
    width: 85vw;
    margin-top: 7vh;
    margin-left: 6vw;
    margin-bottom: 7vh;
    background: url("assets/BeautyPlus_20230323181232846_save.jpg");
    background-position: top;
    background-size: cover;
    position: relative;
    color: white;
    opacity: 0.8;

}
main>section:nth-child(15)>img:first-child{
    position: absolute;
    left: 5vw;
    width: 15vw;
    top: 5vh;
}

main>section:nth-child(15)>hgroup>h4{
    font-family: 'Italianno', cursive;
    font-weight: lighter;
    font-size: 3vw;
    position: absolute;
    left: 5vw;
    top: 25vh;
}

main>section:nth-child(15)>hgroup>h2{
    font-family: 'Inder', sans-serif;
    font-weight: lighter;
    font-size: 4vw;
    position: absolute;
    left: 5vw;
    top: 35vh;
}

main>section:nth-child(15)>hgroup>h2>span{
    color: white;
    font-family: Impact;
    text-shadow:
            -2px -1px 0 #000,
            2px -1px 0 #000,
            -2px 1px 0 #000,
            2px 1px 0 #000;
}

main>section:nth-child(15)>hgroup>blockquote{
    font-family: 'Inder', sans-serif;
    font-size: 1.2vw;
    font-weight: lighter;
    word-spacing: 8px;
    position: absolute;
    left: 5vw;
    top: 55vh;
    opacity: 0.5;
}

main>section:nth-child(15)>button{
    height: 6vh;
    width: 9vw;
    background-color: transparent;
    border: 1px solid white;
    font-family: 'Italianno', cursive;
    font-size: 1.6vw;
    position: absolute;
    left: 5vw;
    bottom: 8vh;
}

main>section:nth-child(15)>button>a{
    color: white;
    text-decoration: none;
}



main>section:nth-child(17){
    height: 85vh;
    width: 85vw;margin-left: 6vw;
    margin-top: 7vh;
    margin-bottom: 7vh;
    background: url("assets/BeautyPlus_20221018191601630_save.jpg");
    background-position: top;
    background-size: cover;
    position: relative;
    color: white;
    opacity: 0.9;
}
main>section:nth-child(17)>img:first-child{
    position: absolute;
    left: 5vw;
    width: 15vw;
    top: 5vh;
}

main>section:nth-child(17)>hgroup>h4{
    font-family: 'Italianno', cursive;
    font-weight: lighter;
    font-size: 3vw;
    position: absolute;
    left: 5vw;
    top: 25vh;
}

main>section:nth-child(17)>hgroup>h2{
    font-family: 'Inder', sans-serif;
    font-weight: lighter;
    font-size: 4vw;
    position: absolute;
    left: 5vw;
    top: 35vh;
}

main>section:nth-child(17)>hgroup>h2>span{
    color: white;
    font-family: Impact;
    text-shadow:
            -2px -1px 0 #000,
            2px -1px 0 #000,
            -2px 1px 0 #000,
            2px 1px 0 #000;
}

main>section:nth-child(17)>hgroup>blockquote{
    font-family: 'Inder', sans-serif;
    font-size: 1.2vw;
    font-weight: lighter;
    word-spacing: 8px;
    position: absolute;
    left: 5vw;
    top: 55vh;
    opacity: 0.5;
}

main>section:nth-child(17)>button{
    height: 6vh;
    width: 9vw;
    background-color: transparent;
    border: 1px solid white;
    font-family: 'Italianno', cursive;
    font-size: 1.6vw;
    position: absolute;
    left: 5vw;
    bottom: 7vh;
}

main>section:nth-child(17)>button>a{
    color: white;
    text-decoration: none;
}

main>section:nth-child(19){
    height: 40vh;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

main>section:nth-child(19)>section{
    width: 35vw;
    height: 30vh;
    background-color: #2B2922;
    display: inline-block;
    border-radius: 20px;
    position: relative;
    margin-left: 10vw;
    margin-right: 10vw ;
    opacity: 0.6;
}


main>section:nth-child(19)>section>div{
    width: 20vw;
    height: 20vh;
    background-color: #4F4B43;
    border-radius: 20px;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
}

main>section:nth-child(19)>section:first-child>div>h3{
    font-family: 'Inder', sans-serif;
    font-size: 1.5vw;
    font-weight: lighter;
    text-align: center;
    color: white;
}

main>section:nth-child(19)>section:first-child>div>button{
    background-color: #2B2922;
    border-color: transparent;
    border-radius: 100%;
    height: 6vh;
}

main>section:nth-child(19)>section:first-child>div>button:nth-child(2){
    position: absolute;
    left: 6vw;
    bottom: 2vh;
}

main>section:nth-child(19)>section:first-child>div>button:nth-child(3){
    position: absolute;
    left: 11vw;
    bottom: 2vh;
}

main>section:nth-child(19)>section:last-child>div:first-child{
    height: 25vh;
    width: 0.1vw;
    background-color: #9A8265;
    position: absolute;
    z-index: 2;
    left: -15vw;
}

main>section:nth-child(19)>section:last-child>div:nth-child(2){
    height: 5vh;
    width: 15vw;
    background-color: #B2970B;
    position: absolute;
    z-index: 2;
    left: 0vw;
    bottom: 8vh;
    border-radius: 0%;
}

main>section:nth-child(19)>section:last-child>div:last-child{
    height: 5vh;
    width: 5vw;
    background-color: #B2510B;
    position: absolute;
    z-index: 2;
    left: -10vw;
    bottom: -10vh;
    border-radius: 0%;
}

main>section:nth-child(21){
    height: 90vh;
    position: relative;
    background: linear-gradient(180deg, black, #3B311F);
}

main>section:nth-child(21)>h2{
    width: 20vw;
    color: #DE9506;
    font-family: 'Italianno', cursive;
    font-weight: lighter;
    font-size: 6vw;
    opacity: 0.3;
    position: absolute;
    top: 2vh;
    left: 0;
    right: 0;
    margin: auto;
}

main>section:nth-child(21)>h3{
    width: 15vw;
    font-family: 'Bricolage Grotesque', cursive;
    font-size: 2vw;
    font-weight: lighter;
    color: white;
    opacity: 0.7;
    position: absolute;
    top: 6vh;
    left: 2vw;
    right: 0;
    margin: auto;
}

main>section:nth-child(21)>div:nth-child(3){
    width: 40vw;
    height: 70vh;
    margin-top: 16vh;
    margin-left: 4vw;
    position: relative;
    color: white;
    display: inline-block;
}

main>section:nth-child(21)>div:nth-child(3)>p{
    font-family: 'Inder', sans-serif;
    font-size: 1.3vw;
    font-weight: lighter;
    text-align: left;
    opacity: 0.5;
    word-spacing: 5px;
}

main>section:nth-child(21)>div:nth-child(3)>address>ul{
    list-style-type: none;
}
main>section:nth-child(21)>div:nth-child(3)>address>ul>li{
    position: relative;
    margin-left: -2vw;
}

main>section:nth-child(21)>div:nth-child(3)>address>ul>li>h3{
    font-family: 'Inder', sans-serif;
    font-size: 1.3vw;
    font-weight: lighter;
    display: inline-block;
    position: absolute;
    margin-left: 2vw;
    opacity: 0.8;
}

main>section:nth-child(21)>div:nth-child(3)>address>ul>li>div{
    width: 4vw;
    height: 8vh;
    border-radius: 100%;
    background: linear-gradient(180deg,  #DE9506 20%, black 100%) ;
    display: inline-block;
    opacity: 0.7;
    position: relative;
}

main>section:nth-child(21)>div:nth-child(3)>address>ul>li>div>img{
    position: absolute;
    top:0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
}

main>section:nth-child(21)>div:nth-child(3)>div>div{
    width: 4vw;
    height: 8vh;
    border-radius: 100%;
    background: linear-gradient(180deg,  #655029 20%, black 100%) ;
    display: inline-block;
    opacity: 0.7;
    position: relative;
    margin-top: 6vh;
    margin-right: 2vw;

}

main>section:nth-child(21)>div:nth-child(3)>div>div>img{
    position: absolute;
    top:0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
}

main>section:nth-child(21)>div:nth-child(4){
    width: 30vw;
    height: 65vh;
    display: inline-block;
    position: absolute;
    left: 40vw;
    top: 24vh;
    color: white;
    z-index: 3;
}

main>section:nth-child(21)>div:nth-child(4)>form>input,textarea{
    opacity: 0.7;
    background-color: #625A46;
    border: 2px solid #F6C827;
    border-radius: 30px;
}

main>section:nth-child(21)>div:nth-child(4)>form>input{
    width: 24vw;
    height: 5vh;
    padding-left: 1vw;
    color: white;

}

main>section:nth-child(21)>div:nth-child(4)>form>textarea{
    width: 24vw;
    height: 20vh;
    padding-left: 1vw;
}

main>section:nth-child(21)>div:nth-child(4)>form>input::placeholder,textarea::placeholder{
    color: white;
    padding-left: 1vw;
}

main>section:nth-child(21)>div:nth-child(4)>form>textarea::placeholder{
    padding-top: 8vh;
}

main>section:nth-child(21)>div:nth-child(4)>form>button{
    background-color: #3B311F;
    border-color: #AB9A9A;
    position: absolute;
    left: 8vw;
    border-radius: 10px;
    height: 6vh;
    width: 7vw;
    color: white;
}

main>section:nth-child(21)>img{
    position: absolute;
    width: 40vw;
    right: 0;
    top: 10vh;
    z-index: 1;
}























