@media all and (max-width: 768px) {

    body{
    }
    body>#mainContent>header{
        width: 100%;
        position: relative;
        background-color: black;
    }

    body>#mainContent>img{
        height: 100vh;
        width: 100%;
        position: fixed;
        z-index: -5;
        opacity: 0.3;
    }

    body>#mainContent>header>img{
        position: absolute;
        top:4vw;
        height: 7vw;
        opacity: 0.8;
    }

    body>#mainContent>header>nav{
        display: none;
    }
    body>#mainContent>header>div{
        display: initial;
        width: 6vw;
        height: 6vw;
        background-color: #292828;
        border-radius: 20px 0 0 20px;
        right: 0;
        top: 2vh;
        position: fixed;
        z-index: 10;
    }

    body>#mainContent>header>div>div{
        width: 3.8vw;
        height:4vw;
        background-color:#655029 ;
        border-radius: 100%;
        margin-top: 6px;
        margin-left: 6px ;
        border: 2px solid #6C634C;
        position: relative;
        cursor: pointer;
    }

    body>#mainContent>header>div>div>img{
        position: absolute;
        width: 2vw;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        margin: auto;
    }

    main>#mainView{
    }
    main>#mainView>img:first-child{
        content: url("assets/imgonline-com-ua-ReplaceColor-mheUofcLJdgMW9Npdf.jpg");
        width: 96vw;
        height: 96vh;
        position: absolute;
        left: 0;

    }

    main>#mainView>img:nth-child(2){
        width: 35vw;
        height: 60vh;
        position: absolute;
        right: 20vw;
        top: 10vh;

    }

    main>#mainView>section{
        width: 80vw;
        height: 90vh;
        position: relative;
        top: 10vh;
        left: 16vw;
    }

    main>#mainView>section>hgroup>img{
        width: 12vw;
        height: 4vw;
        position: absolute;
        left: -8vw;
        top: 6.6vw;
        opacity: 0.4;
    }

    main>#mainView>section>hgroup>h2:nth-child(2){
        font-size: 12vw;
        font-weight: lighter;
        opacity: 0.4;
        top:3.2vh;
        left: 4vw;
    }

    main>#mainView>section>hgroup>h4{
        font-size: 5vw;
        font-weight: lighter;
        position: absolute;
        top:6vh;
        left: 10vw;
    }

    main>#mainView>section>hgroup>h2:nth-child(4){
        font-size: 4.4vw;
        position: absolute;;
        top:17vh;
        left: 0;
    }

    main>#mainView>section>hgroup>div{
        height: 10vh;
        position: relative;
        top:58vh;
        left: 0;
        /*border: 1px solid red;*/
    }
    main>#mainView>section>hgroup>div>h1{
        width: 75vw;
        font-size: 5vw;
        position: absolute;
        top:0vh;
        left: 0;
        z-index: 2;
    }

    main>#mainView>section>hgroup>div>div{
        display: none;
    }

    main>#mainView>section>hgroup>p{
        font-size: 2vw;
        position: absolute;
        top:68vh;
        left: 0;
    }

    main>#mainView>section>button:nth-child(2){
        position: absolute;
        top:77vh;
        left: 0vw;
        height: 5vh;
        width: 10vw;
    }

    main>#mainView>section>button:nth-child(2)>a,main>#mainView>section>button:nth-child(3)>a{
        font-size: 1.8vw;
    }

    main>#mainView>section>button:nth-child(3){
        position: absolute;
        top:77vh;
        left: 14vw;
        height: 5vh;
        width: 15vw;
    }

    main>#mainView>section>hgroup>div>img{
        display: initial;
        width: 10vw;
        height: 6vh;
        position: absolute;
        left: -7vw;
        top: 5vw;
        opacity: 0.8;
        border-radius: 1px;
        transform: rotate(90deg);
    }

    #content>div{
        display: none;
    }

    /*main>hr:nth-child(2){*/
    /*    display: initial;*/
    /*    width: 100%;*/
    /*}*/

    #infoView{
        display: block;
        height: 110vw;
        position: relative;
    }

    #infoView>section{
        width: 45vw;
        height: 80vh;
        position: relative;
        display: inline-block;
    }

    #infoView>section>div{
        position: absolute;
        top: 7vw;
        width: 35vw;
        font-size:2vw;
    }

    #infoView>section>div>h2{
        margin-left: 7vw;
    }

    #infoView>section>div>ul>li{
        padding-bottom: 1vh;
    }

    #infoView>section>div>ul>li>div{
        width: 6vw;
        height: 6vw;
        position: relative;
    }

    #infoView>section>div>ul>li>div>img{
        position: absolute;
        width: 65%;
    }

    #infoView>section>div>ul>li>h3{
        font-size: 2vw;
        width: 25vw;
        left: 7vw;
    }

    #infoView>section:nth-child(3){
        position: absolute;
        left: 0;
        right: 0;
        top: 55vw;
        margin: auto;
    }

    #infoView>section:last-child>div>img{
        display: initial;
        transform: rotate(90deg);
        height: 30vh;
        opacity: 0.8;
        width: 30%;
    }


    #infoView>section:last-child>div>img:nth-child(3){
        position: absolute;
        top: 16vw;
        margin: auto;
        right: 40vw;
    }

    #infoView>section:last-child>div>img:nth-child(4){
        display: inline-block;
        position: absolute;
        top: 16vw;
        margin: auto;
        left: 42vw;
    }
    #aboutView{
        position: relative;
        height: 70vw;
    }
    #aboutView>code{
        margin-left: 5vw;
        color: white;
        font-size: 2vw;
        display: inline-block;
    }

    #aboutView>code>pre {
        margin-left: -5vw;
    }
    #aboutView>img{
        position: absolute;
        right: 5vw;
        top: 10vh;
        width: 20vw;
        z-index: -1;
    }

    #skillView{
        margin-top: 10vw;
        height: 180vw;
        margin-bottom: 5vw;
    }

    #skillView>section{
        display: block;
        height: 120vw;
        margin-top: 7vw;


    }

    #skillView>section>div{
        width: 47vw;
        height: 50vw;
        display: inline-block;
    }

    #skillView>h1,#educationView>h2,#projectView>h2,#achievementView>h2 {
        font-size: 3.5vw;
    }

    #skillView>section>div>div{
        width: 17vw;
        height: 15vw;

    }

    #skillView .circ{
        width: 17vw;
        height: 15vw;
    }

    #skillView>section>div>div>img{
        width: 10vw;
    }

    #skillView>section>div>h2,#skillView>div>h2{
        font-size: 3vw;
    }

    #skillView>section>div>ul{
        margin-left: 9vw;
        font-size: 2.2vw;
    }

    #skillView>section>div:nth-child(4)>ul{
        margin-left: 14vw;
    }

    #skillView>section>div:nth-child(3)>ul>li{
        margin-left: 6vw;
    }


    #skillView>div{
        position: relative;
        display: inline-block;
        width: calc(95vw/2);
        height: 78vw;
        position: relative;
        top: -20vw;
        margin-bottom: 10vw;
    }


    #skillView>div>div>div:nth-child(2){
        width: 25vw;
        height: 6vw;
    }

    #skillView>div>div>div:nth-child(3){
        width:35vw;
        height: 5vw;
    }

    #skillView>div:last-child>div>div:nth-child(2){
        width: 25vw;
        height: 5vw;
        /*top: 14vw;*/

    }

    #skillView>div:last-child>div>div:nth-child(3){
        width:35vw;
        height: 5vw;
    }

    #skillView>div:last-child>div>div:nth-child(4){
        width: 20vw;
        height: 5vw;
    }

    #educationView>section>div:nth-child(2){
        width: 20vw;
        height: 11vw;

    }

    #educationView>section>div:nth-child(2)>p{
        margin-top: 5px;
        font-size: 1.5vw;
    }

    /*main>#educationView{
        margin-top: 10vh;

    }
    main>#educationView>section>div:first-child{
        width: 35vw;
        height: 1vh;
    }


    main>#educationView>section>div:nth-child(2){
        width: 23vw;
        height: 12vh;
    }

    main>#educationView>section:nth-child(6)>div:first-child{
        left: 60vw;
    }

    main>#educationView>section:nth-child(2)>div:nth-child(2){
        bottom: 7vh;
        left: 17vw;
    }

    main>#educationView>section:nth-child(3)>div:nth-child(2){
        bottom: 27vh;
        left: 32vw;
    }

    main>#educationView>section:nth-child(4)>div:nth-child(2){
        bottom: 47vh;
        left: 47vw;
    }

    main>#educationView>section:nth-child(5)>div:nth-child(2){
        top: 39vh;
        left: 62vw;
    }

    main>#educationView>section:nth-child(6)>div:nth-child(2){
        top: 18vh;
        left: 72vw;
    }

    main>#educationView>section>div:nth-child(2)>p{
        font-size: 1.5vw;
    }

    main>#educationView>section:nth-child(2)>img{
        position: absolute;
        width: 18vw;
        bottom: 4vh;
        left: 4vw;

    }

    main>#educationView>section:nth-child(3)>img{
        position: absolute;
        width: 10vw;
        bottom: 28vh;
        left: 20vw;
    }

    main>#educationView>section:nth-child(4)>img{
        position: absolute;
        width: 10vw;
        bottom: 40vh;
        left: 35vw;
    }

    main>#educationView>section:nth-child(5)>img{
        position: absolute;
        width: 20vw;
        bottom: 65vh;
        right: 35vw;
    }

    main>#educationView>section:nth-child(6)>img{
        position: absolute;
        width: 20vw;
        top: 0;
        right: 20vw;
    }*/

    #projectView{
        height: 120vw;
    }

    #projectView>div>figure>img{
        width: 25vw;
        height: 45vh;
        position: absolute;
        top: 5vh;
        right: 0;
        left: 0;
        bottom: 0;
        margin: auto;
    }

    #projectView>div>figure>figcaption{
        font-size: 1.5vw;
        width: 30vw;
        position: absolute;
        left: 0;
        right: 0;
        padding-top: 3vw;
    }

    #projectView>div:nth-child(2){
        width: 30vw;
        height: 28vw;
        top: 71vw;
        left: 0;
        right: 0;
        margin: auto;
        bottom: unset;
    }

    #projectView>div>figure{
        margin-top: -10px;
    }

    #projectView>div:nth-child(2)>figure>img{
        top: 5vh;
        width: 28vw;
        height: 20vw;
    }

    #projectView>div:nth-child(2)>figure>figcaption{
        position: absolute;
        left: 0;
        right: 0;
        padding-top: 15px;
        font-size: 2vw;
        text-align: center;
    }



    #projectView>div:nth-child(3){
        position: absolute;
        width: 25vw;
        height: 22vw;
        top: 73vw;
        left: 68vw;
    }

    #projectView>div:nth-child(4){
        position: absolute;
        width: 25vw;
        height: 22vw;
        top: 73vw;
        left: 7vw;
    }

    #projectView>div:nth-child(4)>figure>img, #projectView>div:nth-child(3)>figure>img{
        width: 23vw;
        height: 15vw;
    }

    #projectView>div:nth-child(5){
        top: -80vh;
        width: 25vw;
        height: 25vw;
        display: none;
    }

    #projectView>div:nth-child(5)>figure>img,#projectView>div:nth-child(6)>figure>img{
        width: 23vw;
        height: 10vw;
    }

    #projectView>div:nth-child(6){
        position: absolute;
        top: 30vh;
        right: 8vw;
        width: 35vw;
        height: 35vw;
        display: none;

    }

    #projectView>img:nth-child(8){
        position: absolute;
        width: 2vh;
        top: 85vw;
        left: 2vw;
        bottom: unset;
        right: unset;
        z-index: 8;
        transform: rotate(0deg);
    }

    #projectView>img:nth-child(9){
        position: absolute;
        width: 2vh;
        top: 85vw;
        right: 2vw;
        bottom: unset;
        left: unset;
        z-index: 8;
        transform: rotate(0deg);
    }

    #projectView>div:nth-child(7){
        height: 6vw;
    }

    #projectView>div:nth-child(7)>p{
        font-size: 2vw;
    }

    #projectView>div:nth-child(7)>a>button{
        height: 4vw;
        width: 15vw;
    }

    #projectView>div:nth-child(7)>a{
        font-size: 2vw;
    }

    #projectView>video{
        position: absolute;
        width: 80vw;
        top: 13vw;
        left: 0;
        right: 0;
        margin: auto;
        padding-top: 10px;
        border: 4px solid #2B2922;
    }


    #achievementView>div:nth-child(2){
        top: 6vw;
    }

    #achievementView>img:nth-child(7){
        top:-5vh;
    }

    #achievementView>img:nth-child(8){
        top:-5vh;

    }

    /*main>#galleryView{
        height: 70vh;
        width: 85vw;
        margin-top: 5vh;
        margin-bottom: 5vh;

    }
    main>#galleryView>img:first-child{
        width: 23vw;
        top: 5vh;
    }

    main>#galleryView>hgroup>h4{
        top: 160px;
        font-size: 5vw;
    }

    main>#galleryView>hgroup>h2{
        font-size: 7vw;;
        top: 220px;
    }

    main>#galleryView>hgroup>blockquote{
        font-size: 2vw;
        left: 2vw;
        top: 320px;
    }

    main>#galleryView>button{
        height: 5vh;
        width: 14vw;
        font-size: 3vw;
        left: 5vw;
        bottom: 5vh;
    }*/

    /*main>#artGalleryView{
        height: 70vh;
        width: 85vw;
        margin-top: 5vh;
        margin-bottom: 5vh;

    }

    main>#artGalleryView>img:first-child{
        width: 23vw;
        top: 5vh;
    }

    main>#artGalleryView>hgroup>h4{
        top: 160px;
        font-size: 5vw;
    }

    main>#artGalleryView>hgroup>h2{
        font-size: 7vw;;
        top: 220px;
    }

    main>#artGalleryView>hgroup>blockquote{
        font-size: 2vw;
        left: 2vw;
        top: 320px;
    }

    main>#artGalleryView>button{
        height: 5vh;
        width: 14vw;
        font-size: 3vw;
        left: 5vw;
        bottom: 5vh;
    }*/

    #graphView{
        height: 30vh;
    }

    #graphView>section{
        height: 20vh;
        border-radius: 10px;
    }

    #graphView>section>div{
        width: 23vw;
        height: 15vh;
        border-radius: 10px;
    }

    #graphView>section:first-child>div>h3{
        font-size: 2vw;
    }

    #graphView>section:first-child>div>button{
        top: 8vh;
        width: 5vw;
        height: 5vw;
        cursor: pointer;
    }

    #graphView>section:first-child>div>button>img{
        width: 110%;
    }

    #graphView>section:first-child>div>button:nth-child(2){
        top: unset;
        bottom: 0.5vw;
        left: 5vw;
    }

    #graphView>section:first-child>div>button:nth-child(3){
        top: unset;
        bottom: 0.5vw;
        left: 13vw;
    }

    #graphView>section:last-child>div:first-child{
        height: 18vh;
    }

    #graphView>section:last-child>div:nth-child(2){
        height: 4vh;
        width: 18vw;
        left: 3vw;
    }

    #graphView>section:last-child>div:last-child{
        height: 4vh;
        width: 7vw;
        right: 8vw;
    }

    #contactView{
        height: 130vh;
    }

    #contactView>h2{
        width: 35vw;
        font-size: 8vw;
        left: 5vw;
    }

    #contactView>h3{
        width: 25vw;;
        font-size: 3vw;
        top: 4vh;
    }


    #contactView>div:nth-child(3)>p{
        position: absolute;
        width: 60vw;
        font-size: 2.3vw;
        left: 14vw;
        text-align: center;
    }

    #contactView>div:nth-child(3)>p:first-child{
        display: none;
    }

    #contactView>div:nth-child(3)>p:nth-child(2){
        display: initial;
    }

    #contactView>div:nth-child(3)>address>ul>li{
        position: relative;
        right:  0;
        top: 58vh;
    }

    #contactView>div:nth-child(3)>address>ul>li>h3{
        font-size: 2.2vw;
    }

    #contactView>div:nth-child(3)>address>ul>li>div{
        width: 7vw;
        height: 7vw;
    }

    #contactView>div:nth-child(3)>address>ul>li>div>img{
        width: 60%;
    }

    #contactView>div:nth-child(3)>div{
        width: 60vw;
        position: absolute;
        left: 5vw;
    }
    #contactView>div:nth-child(3)>div>a>div{
        width: 7vw;
        height: 7vw;
        border-radius: 100%;
        background-color: #655029 ;
        display: inline-block;
        opacity: 0.7;
        position: relative;
        top: 55vh;

    }

    #contactView>div:nth-child(3)>div>a>div>img{
        width: 60%;
    }

    #contactView>div:nth-child(4){
        width: 40vw;
    }

    #contactView>div:nth-child(4)>form>input{
        width: 40vw;
        height: 4vh;
        margin-left: -15vw;
        border: 1px solid #F6C827;
    }

    #contactView>div:nth-child(4)>form>input:nth-child(1){
        margin-top: 10vw;
    }

    #contactView>div:nth-child(4)>form>textarea{
        width: 40vw;
        height: 14vh;
        margin-left: -15vw;
        border: 1px solid #F6C827;
        padding-left: 1vw;
    }

    #contactView>div:nth-child(4)>form>input::placeholder,textarea::placeholder{
        color: white;
        padding-left: 1vw;
    }

    #contactView>div:nth-child(4)>form>textarea::placeholder{
        padding-top: 5vh;
    }

    #contactView>div:nth-child(4)>form>button{
        left: 0;
        height: 6vh;
        width: 12vw;
    }

    #contactView>img{
        width: 60vw;
        top: 70vh;
    }

    footer{
        height: 18vw;
    }

    #media{
        width: 30vw;
        position: absolute;
        left: 8vw;
        right: 0;
        bottom: 3.5vw;
        margin: auto;
        /*border: 1px solid red;*/
    }


    footer>div>p {
        width: 40vw;
    }


    @media all and (max-width: 630px) {
        #infoView>section:last-child>div>img:nth-child(3){
            top: 15vw;
        }

        #infoView>section:last-child>div>img:nth-child(4){
            top: 15vw;
        }

        #skillView{
            margin-top: 10vh;
            height: 190vw;
            margin-bottom: 5vw;
        }
    }

    @media all and (max-width: 550px) {
        body{
            /*width: 96vw;*/
        }

        #mainView>section{
            width: 75vw;

        }

        #educationView>section:nth-child(6)>div:first-child{
            left: 58vw;
        }

        #educationView>section:nth-child(6)>div:nth-child(2){

            left: 70vw;
        }

        #infoView>section:last-child>div>img{
            display: initial;
            transform: rotate(90deg);
            height: 20vh;
            opacity: 0.8;
            margin: 0px;
        }

        #infoView>section:last-child>div>img:nth-child(3){
            top: 20vw;
        }

        #infoView>section:last-child>div>img:nth-child(4){
            top: 20vw;
        }

        #skillView{
            margin-top: 10vh;
            height: 200vw;
            margin-bottom: 5vw;
        }

        #educationView>section:nth-child(6)>div:first-child{
            position: absolute;
            bottom: 65vw;
            left: unset;
            right: 4vw;
            margin: 0px;
        }

        #educationView>section:nth-child(6)>div:nth-child(2){
            position: absolute;
            bottom: 66vw;
            left: unset;
            right: 2vw;
            margin: 0px;
        }




    }





}