@media all and (max-width: 768px) {

    body{
        /*width: 97vw;*/
        /*width: 100vw;*/
    }
    body>header{
        width: 100%;
        position: relative;
        background-color: black;
    }

    body>img{
        height: 100vh;
        width: 100%;
        position: fixed;
        z-index: -5;
        opacity: 0.3;
    }

    body>header>img{
        position: absolute;
        top:2vw;
        height: 5vw;
    }

    body>header>nav{
        display: none;
    }
    body>header>div{
        display: initial;
        width: 6vw;
        height: 6vw;
        background-color: #292828;
        border-radius: 20px 0 0 20px;
        right: 0;
        top: 2vh;
        position: fixed;
        z-index: 10;
    }

    body>header>div>div{
        width: 3.8vw;
        height:4vw;
        background-color:#655029 ;
        border-radius: 100%;
        margin-top: 6px;
        margin-left: 6px ;
        border: 2px solid #6C634C;
        position: relative;
        cursor: pointer;
    }

    body>header>div>div>img{
        position: absolute;
        width: 2vw;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        margin: auto;
    }

    main>#mainView{
    }
    main>#mainView>img:first-child{
        content: url("assets/imgonline-com-ua-ReplaceColor-mheUofcLJdgMW9Npdf.jpg");
        width: 96vw;
        height: 96vh;
        position: absolute;
        left: 0;

    }

    main>#mainView>img:nth-child(2){
        width: 35vw;
        height: 60vh;
        position: absolute;
        right: 20vw;
        top: 10vh;

    }

    main>#mainView>section{
        width: 80vw;
        height: 90vh;
        position: relative;
        top: 10vh;
        left: 17vw;
    }

    main>#mainView>section>hgroup>h2:first-child{
        font-size: 12vw;
        font-weight: lighter;
        opacity: 0.4;
        top:3.2vh;
        left: 4vw;
    }

    main>#mainView>section>hgroup>h4{
        font-size: 5vw;
        font-weight: lighter;
        position: absolute;
        top:6vh;
        left: 10vw;
    }

    main>#mainView>section>hgroup>h2:nth-child(3){
        font-size: 4vw;
        position: absolute;;
        top:17vh;
        left: 0;
    }
    main>#mainView>section>hgroup>h1{
        font-size: 4.8vw;
        position: absolute;
        top:53vh;
        left: 0;
        z-index: 2;
    }

    main>#mainView>section>div{
        display: none;
    }

    main>#mainView>section>hgroup>p{
        font-size: 2vw;
        position: absolute;
        top:61vh;
        left: 0;
    }

    main>#mainView>section>button:nth-child(3){
        position: absolute;
        top:70vh;
        left: 2vw;
        height: 5vh;
        width: 10vw;
    }

    main>#mainView>section>button:nth-child(3)>a,main>#mainView>section>button:nth-child(4)>a{
        font-size: 2vw;
    }

    main>#mainView>section>button:nth-child(4){
        position: absolute;
        top:70vh;
        left: 18vw;
        height: 5vh;
        width: 15vw;
    }

    main>#mainView>img:nth-child(3){
        width: 10vw;
        height: 6vh;
        position: absolute;
        left: 10vw;
        top: 16.2vh;
        opacity: 0.4;
    }

    main>#infoView{
        display: block;
        height: 145vh;
        position: relative;
    }

    main>#infoView>section{
        width: 45vw;
        height: 80vh;
        position: relative;
        display: inline-block;
    }

    main>#infoView>section>div{
        position: absolute;
        top: 7vh;
        width: 35vw;
        font-size:2vw;
    }

    main>#infoView>section>div>h2{
        margin-left: 7vw;
    }

    main>#infoView>section>div>ul>li{
        padding-bottom: 1vh;
    }

    main>#infoView>section>div>ul>li>div{
        width: 6vw;
        height: 8vh;
        position: relative;
    }

    main>#infoView>section>div>ul>li>div>img{
        position: absolute;
        width: 65%;
    }

    main>#infoView>section>div>ul>li>h3{
        font-size: 2vw;
        width: 25vw;
        left: 7vw;
    }

    main>#infoView>section:nth-child(3){
        position: absolute;
        left: 0;
        right: 0;
        top: 70vh;
        margin: auto;
    }

    main>#infoView>section:last-child>div>img{
        display: initial;
        transform: rotate(90deg);
        height: 30vh;
        opacity: 0.8;
        width: 30%;
    }

    main>#infoView>section:last-child>div>img:nth-child(3){
        position: absolute;
        top: 2vw;
        bottom: 4vh;
        margin: auto;
        right: 40vw;
    }

    main>#infoView>section:last-child>div>img:nth-child(4){
        display: inline-block;
        position: absolute;
        top: 2vw;
        bottom: 4vh;
        margin: auto;
        left: 42vw;
    }
    main>#aboutView{
        position: relative;
    }
    main>#aboutView>pre{
        margin-left: 5vw;
        color: white;
        font-size: 2vw;
        display: inline-block;
    }
    main>#aboutView>img{
        position: absolute;
        right: 5vw;
        top: 10vh;
        width: 20vw;
        z-index: -1;
    }

    main>#skillView{
        margin-top: 5vh;
        height: 215vh;
    }

    main>#skillView>section{
        display: block;
        height: 150vh;
        margin-top: 7vh;

    }

    main>#skillView>section>div{
        width: 47vw;
        height: 55vh;
        display: inline-block;
    }

    main>#skillView>h1,main>section:nth-child(9)>h2,main>section:nth-child(11)>h2,main>section:nth-child(13)>h2 {
        font-size: 3.5vw;
    }

    main>#skillView>section>div>div{
        width: 17vw;
        height: 17vh;

    }

    main>#skillView>section>div>div>img{
        width: 10vw;
    }

    main>#skillView>section>div>h2,main>section:nth-child(7)>div>h2{
        font-size: 3vw;
    }

    main>#skillView>section>div>ul{
        margin-left: 9vw;
        font-size: 2.2vw;
    }

    main>#skillView>section>div:nth-child(4)>ul{
        margin-left: 14vw;
    }

    main>#skillView>section>div:nth-child(3)>ul>li{
        margin-left: 6vw;
    }

    main>#skillView>div{
        position: absolute;
        top: -28vh;
    }
    main>#skillView>div{
        position: relative;
        display: inline-block;
        width: calc(95vw/2);
        height: 80vh;
        position: relative;
    }


    main>#skillView>div>div>div:nth-child(2){
        width: 25vw;
        height: 7vh;
    }

    main>#skillView>div>div>div:nth-child(3){
        width:35vw;
        height: 6vh;
    }

    main>#skillView>div:last-child>div>div:nth-child(2){
        width: 25vw;
        height: 6vh;
        top: 18vh;

    }

    main>#skillView>div:last-child>div>div:nth-child(3){
        width:35vw;
        height: 6vh;
    }

    main>#skillView>div:last-child>div>div:nth-child(4){
        width: 20vw;
        height: 6vh;
    }

    main>#educationView{
        margin-top: 10vh;

    }
    main>#educationView>section>div:first-child{
        width: 35vw;
        height: 1vh;
    }


    main>#educationView>section>div:nth-child(2){
        width: 23vw;
        height: 12vh;
    }

    main>#educationView>section:nth-child(6)>div:first-child{
        left: 60vw;
    }

    main>#educationView>section:nth-child(2)>div:nth-child(2){
        bottom: 7vh;
        left: 17vw;
    }

    main>#educationView>section:nth-child(3)>div:nth-child(2){
        bottom: 27vh;
        left: 32vw;
    }

    main>#educationView>section:nth-child(4)>div:nth-child(2){
        bottom: 47vh;
        left: 47vw;
    }

    main>#educationView>section:nth-child(5)>div:nth-child(2){
        top: 39vh;
        left: 62vw;
    }

    main>#educationView>section:nth-child(6)>div:nth-child(2){
        top: 18vh;
        left: 72vw;
    }

    main>#educationView>section>div:nth-child(2)>p{
        font-size: 1.5vw;
    }

    main>#educationView>section:nth-child(2)>img{
        position: absolute;
        width: 18vw;
        bottom: 4vh;
        left: 4vw;

    }

    main>#educationView>section:nth-child(3)>img{
        position: absolute;
        width: 10vw;
        bottom: 28vh;
        left: 20vw;
    }

    main>#educationView>section:nth-child(4)>img{
        position: absolute;
        width: 10vw;
        bottom: 40vh;
        left: 35vw;
    }

    main>#educationView>section:nth-child(5)>img{
        position: absolute;
        width: 20vw;
        bottom: 65vh;
        right: 35vw;
    }

    main>#educationView>section:nth-child(6)>img{
        position: absolute;
        width: 20vw;
        top: 0;
        right: 20vw;
    }

    main>#projectView{
        height: 100vh;
    }

    main>#projectView>div{
        width: 30vw;
        height: 60vh;
    }

    main>#projectView>div>figure>img{
        width: 25vw;
        height: 45vh;
        position: absolute;
        top: 5vh;
        right: 0;
        left: 0;
        bottom: 0;
        margin: auto;
    }

    main>#projectView>div>figure>figcaption{
        font-size: 2vw;
        padding-top: 2vh;
    }

    main>#projectView>div:nth-child(2){
        width: 40vw;
        height: 60vh;
    }

    main>#projectView>div:nth-child(2)>figure>img{
        width: 36vw;
        height: 40vh;
    }

    main>#projectView>div:nth-child(2)>figure>figcaption{
        font-size: 2.4vw;
    }

    main>#projectView>div:nth-child(2)>figure>div:last-child>div>p:first-child{
        font-size: 1.8vw;
        margin-top: 8vh;
    }

    main>#projectView>div:nth-child(2)>figure>div:last-child>div>label:nth-child(2){
        font-size: 1.8vw;
    }

    main>#projectView>div:nth-child(2)>figure>div:last-child>div>a>button{
        width: 5vw;
    }
    main>#projectView>div:nth-child(2)>figure>div:last-child>div>label:nth-child(4){
        font-size: 1.8vw;
    }

    main>#projectView>div:nth-child(3){
        height: 50vh;
        top: 18vh;
    }

    main>#projectView>div:nth-child(4){
        top: -32vh;
        height: 50vh;
    }

    main>#projectView>div:nth-child(4)>figure>img, main>#projectView>div:nth-child(3)>figure>img{
        height: 37vh;
    }

    main>#projectView>div:nth-child(5){
        height: 40vh;
        top: -80vh;
    }

    main>#projectView>div:nth-child(5)>figure>img,main>#projectView>div:nth-child(6)>figure>img{
        height: 30vh;
    }

    main>#projectView>div:nth-child(6){
        position: absolute;
        height: 40vh;
        top: 30vh;
        right: 10vw;
    }

    main>#projectView>div:nth-child(7){
        height: 5vh;
    }

    main>#projectView>div:nth-child(7)>p{
        font-size: 2vw;
    }

    main>#projectView>div:nth-child(7)>a>button{
        width: 14vw;
    }

    main>#achievementView>div:nth-child(2){
        top: -7vh;
    }

    main>#achievementView>img:nth-child(7){
        top:-5vh;
    }

    main>#achievementView>img:nth-child(8){
        top:-5vh;

    }

    main>#galleryView{
        height: 70vh;
        width: 85vw;
        margin-top: 5vh;
        margin-bottom: 5vh;

    }
    main>#galleryView>img:first-child{
        width: 23vw;
        top: 5vh;
    }

    main>#galleryView>hgroup>h4{
        top: 160px;
        font-size: 5vw;
    }

    main>#galleryView>hgroup>h2{
        font-size: 7vw;;
        top: 220px;
    }

    main>#galleryView>hgroup>blockquote{
        font-size: 2vw;
        left: 2vw;
        top: 320px;
    }

    main>#galleryView>button{
        height: 5vh;
        width: 14vw;
        font-size: 3vw;
        left: 5vw;
        bottom: 5vh;
    }

    main>#artGalleryView{
        height: 70vh;
        width: 85vw;
        margin-top: 5vh;
        margin-bottom: 5vh;

    }

    main>#artGalleryView>img:first-child{
        width: 23vw;
        top: 5vh;
    }

    main>#artGalleryView>hgroup>h4{
        top: 160px;
        font-size: 5vw;
    }

    main>#artGalleryView>hgroup>h2{
        font-size: 7vw;;
        top: 220px;
    }

    main>#artGalleryView>hgroup>blockquote{
        font-size: 2vw;
        left: 2vw;
        top: 320px;
    }

    main>#artGalleryView>button{
        height: 5vh;
        width: 14vw;
        font-size: 3vw;
        left: 5vw;
        bottom: 5vh;
    }

    main>#graphView{
        height: 30vh;
    }

    main>#graphView>section{
        height: 20vh;
        border-radius: 10px;
    }

    main>#graphView>section>div{
        width: 23vw;
        height: 15vh;
        border-radius: 10px;
    }

    main>#graphView>section:first-child>div>h3{
        font-size: 2vw;
    }

    main>#graphView>section:first-child>div>button{
        top: 8vh;
        height: 6vh;
        cursor: pointer;
    }

    main>#graphView>section:first-child>div>button:nth-child(2){
        left: 5vw;
    }

    main>#graphView>section:first-child>div>button:nth-child(3){
        left: 13vw;
    }

    main>#graphView>section:last-child>div:first-child{
        height: 18vh;
    }

    main>#graphView>section:last-child>div:nth-child(2){
        height: 4vh;
        width: 18vw;
        left: 3vw;
    }

    main>#graphView>section:last-child>div:last-child{
        height: 4vh;
        width: 7vw;
        right: 8vw;
    }

    main>#contactView{
        height: 130vh;
    }

    main>#contactView>h2{
        width: 35vw;
        font-size: 8vw;
        left: 5vw;
    }

    main>#contactView>h3{
        width: 25vw;;
        font-size: 3vw;
        top: 4vh;
    }


    main>#contactView>div:nth-child(3)>p{
        position: absolute;
        width: 60vw;
        font-size: 2.3vw;
        left: 14vw;
        text-align: center;
    }

    main>#contactView>div:nth-child(3)>p:first-child{
        display: none;
    }

    main>#contactView>div:nth-child(3)>p:nth-child(2){
        display: initial;
    }

    main>#contactView>div:nth-child(3)>address>ul>li{
        position: relative;
        right:  0;
        top: 58vh;
    }

    main>#contactView>div:nth-child(3)>address>ul>li>h3{
        font-size: 2.2vw;
    }

    main>#contactView>div:nth-child(3)>address>ul>li>div{
        width: 7vw;
        height: 8vh;
    }

    main>#contactView>div:nth-child(3)>address>ul>li>div>img{
        width: 70%;
    }

    main>#contactView>div:nth-child(3)>div{
        width: 60vw;
        position: absolute;
        left: 5vw;
    }
    main>#contactView>div:nth-child(3)>div>a>div{
        width: 7vw;
        height: 8vh;
        border-radius: 100%;
        background-color: #655029 ;
        display: inline-block;
        opacity: 0.7;
        position: relative;
        top: 55vh;

    }

    main>#contactView>div:nth-child(3)>div>a>div>img{
        width: 70%;
    }

    main>#contactView>div:nth-child(4){
        width: 40vw;
    }

    main>#contactView>div:nth-child(4)>form>input{
        width: 40vw;
        height: 4vh;
        margin-left: -15vw;
        border: 1px solid #F6C827;
    }

    main>#contactView>div:nth-child(4)>form>input:nth-child(1){
        margin-top: 5vh;
    }

    main>#contactView>div:nth-child(4)>form>textarea{
        width: 40vw;
        height: 14vh;
        margin-left: -15vw;
        border: 1px solid #F6C827;
        padding-left: 1vw;
    }

    main>#contactView>div:nth-child(4)>form>input::placeholder,textarea::placeholder{
        color: white;
        padding-left: 1vw;
    }

    main>#contactView>div:nth-child(4)>form>textarea::placeholder{
        padding-top: 5vh;
    }

    main>#contactView>div:nth-child(4)>form>button{
        left: 0;
        height: 6vh;
        width: 12vw;
    }

    main>#contactView>img{
        width: 60vw;
        top: 70vh;
    }

    footer{
        font-size: 2.5vw;
        opacity: 0.8;
    }

    @media all and (max-width: 550px) {
        body{
            /*width: 96vw;*/
        }

        main>#mainView>section{
            width: 75vw;

        }

        main>#educationView>section:nth-child(6)>div:first-child{
            left: 58vw;
        }

        main>#educationView>section:nth-child(6)>div:nth-child(2){
            top: 18vh;
            left: 70vw;
        }

        main>#infoView>section:last-child>div>img{
            display: initial;
            transform: rotate(90deg);
            height: 20vh;
            opacity: 0.8;
            margin: 0px;
        }

        main>#infoView>section:last-child>div>img:nth-child(3){
            position: absolute;
            top: 0;
            bottom: 4vh;
            margin: auto;
            right: 40vw;
        }

        main>#infoView>section:last-child>div>img:nth-child(4){
            display: inline-block;
            position: absolute;
            top: 0;
            bottom: 4vh;
            margin: auto;
            left: 40vw;
        }




    }





}