

body{
    background: url("../imgonline-com-ua-ReplaceColor-LlnI7ILIDhL9E7O.jpg") center;
    background-size :cover;
    height: 100vh;
}

.tableDiv {
    overflow-y: scroll;
}
.tableDiv::-webkit-scrollbar {
    width: 12px;
}

.tableDiv::-webkit-scrollbar-thumb {
    background: #888;
}

.tableDiv::-webkit-scrollbar-thumb:hover {
    background: #555;
}

.tableDiv::-webkit-scrollbar-track {
    background: transparent;
}

.input::placeholder, .select::placeholder, .search::placeholder{
    color: #919191;
}

@media all and (max-width: 768px){

    .menuContainer{
        display:none;
    }

    .menu{
        display: inline-block!important;
        width: 4%;
        position: absolute;
        right: 2vw;
    }
    .p-3{
        padding: 0.5rem!important;
    }

    .tableContent {
        width: 95%!important;
        margin-left: 1rem!important;
        padding: 0px!important;
    }

    #total{
        width: 90vw!important;
        margin-left: 1rem!important;
    }

    .top-50{
        top: 30%!important;
    }

    .img{
        position: absolute;
        left: 0;
        right: 0;
        margin: auto;
    }

}



