
body {
    background: linear-gradient(180deg, #030E00, #010600);
}

#btn1,#btn2{
    width: 5vw;
    font-size: 1.2vw;
}

#search::placeholder{
    color: #919191;
}

#btn3{
    position: absolute;
    top: 4vw;
    height: 3vw;
    width: 8vw;
    right: 10vw;
}
#btn4{
    position: absolute;
    top: 4vw;
    height: 3vw;
    width: 6vw;
    right: 6vw;
}