
.input::placeholder, .select::placeholder, .search::placeholder{
    color: #919191;
}

@media all and (max-width: 768px){

    .menuContainer{
        display:none;
    }

    .menu{
        display: inline-block!important;
        width: 4%;
        position: absolute;
        right: 2vw;
    }
    .p-3{
        padding: 0.5rem!important;
    }

    .tableContent {
        width: 95%!important;
        margin-left: 1rem!important;
        padding: 0px!important;
    }

    #total{
        width: 90vw!important;
        margin-left: 1rem!important;
    }

}



